openapi: 3.1.0
info:
  title: TetraScience Data and AI Cloud Access Groups tetraflows API
  version: '4.0'
  description: Programmatic access to the TetraScience Scientific Data and AI Platform — manage tenants, organizations, users, roles, agents, integrations, pipelines, files, datasets, schemas, and search across the Tetra Data Platform.
  contact:
    name: TetraScience
    url: https://www.tetrascience.com/
  license:
    name: Proprietary
servers:
- url: https://api.tetrascience.com
  description: Production Server
- url: https://api.tetrascience-uat.com
  description: User Acceptance Server
- url: https://api.tetrascience-dev.com
  description: Development Server
- url: https://api.tetrascience-uat.com
  description: User Acceptabce Server
- url: api.tetrascience.com
security:
- token: []
  orgSlug: []
- orgSlug: []
  tsAuthToken: []
tags:
- name: tetraflows
paths:
  /v1/artifacts/tetraflows/{namespace}/{slug}:
    get:
      description: Returns a list of all tetraflow artifacts given a namespace and slug
      summary: List all tetraflow for namespace/slug
      tags:
      - tetraflows
      operationId: getTetraflowArtifactByNamespaceAndSlug
      parameters:
      - $ref: '#/components/parameters/ArtifactNamespace'
      - $ref: '#/components/parameters/ArtifactSlug'
      - $ref: '#/components/parameters/LatestOnlyQuery'
      - $ref: '#/components/parameters/IncludePrereleasesQuery'
      responses:
        '200':
          $ref: '#/components/responses/200TetraflowObjectList'
        '404':
          $ref: '#/components/responses/404Any'
  /v1/artifacts/tetraflows/{namespace}/{slug}/{version}/files/{fileSlug}:
    get:
      description: Returns the file contents for a tetraflow file given a namespace, slug, version, and file slug
      summary: Get contents for a tetraflow file
      tags:
      - tetraflows
      operationId: getTetraflowArtifactByNamespaceSlugAndFileSlug
      parameters:
      - $ref: '#/components/parameters/ArtifactNamespace'
      - $ref: '#/components/parameters/ArtifactSlug'
      - $ref: '#/components/parameters/ArtifactVersion'
      - $ref: '#/components/parameters/TetraflowFileSlugParam'
      - $ref: '#/components/parameters/DownloadQuery'
      - $ref: '#/components/parameters/IncludePrereleasesQuery'
      responses:
        '200':
          $ref: '#/components/responses/200File'
        '400':
          $ref: '#/components/responses/400Any'
        '404':
          $ref: '#/components/responses/404Any'
  /v1/artifacts/tetraflows/{namespace}/{slug}/{version}:
    get:
      description: Returns a single tetraflows artifact matching the namespace, slug, and version
      summary: Get a single tetraflow artifact
      tags:
      - tetraflows
      operationId: getTetraflowArtifactByNamespaceSlugAndVersion
      parameters:
      - $ref: '#/components/parameters/ArtifactNamespace'
      - $ref: '#/components/parameters/ArtifactSlug'
      - $ref: '#/components/parameters/ArtifactVersion'
      - $ref: '#/components/parameters/IncludePrereleasesQuery'
      responses:
        '200':
          $ref: '#/components/responses/200TetraflowObject'
        '404':
          $ref: '#/components/responses/404Any'
  /v1/artifacts/tetraflows/{namespace}/{slug}/{version}/files:
    get:
      description: Returns which file slugs are available to retrieve for this tetraflow
      summary: Get available file slugs for tetraflow
      tags:
      - tetraflows
      operationId: getTetraflowArtifactFileSlugs
      parameters:
      - $ref: '#/components/parameters/ArtifactNamespace'
      - $ref: '#/components/parameters/ArtifactSlug'
      - $ref: '#/components/parameters/ArtifactVersion'
      - $ref: '#/components/parameters/IncludePrereleasesQuery'
      responses:
        '200':
          $ref: '#/components/responses/200TetraflowFileSlugList'
        '400':
          $ref: '#/components/responses/400Any'
        '404':
          $ref: '#/components/responses/404Any'
  /v1/artifacts/tetraflows/{namespace}/{slug}/{version}/labels:
    get:
      description: Returns a list of the labels associated with a tetraflow artifact
      summary: Get labels for a tetraflow
      tags:
      - tetraflows
      operationId: getTetraflowArtifactLabels
      parameters:
      - $ref: '#/components/parameters/ArtifactNamespace'
      - $ref: '#/components/parameters/ArtifactSlug'
      - $ref: '#/components/parameters/ArtifactVersion'
      - $ref: '#/components/parameters/IncludePrereleasesQuery'
      responses:
        '200':
          $ref: '#/components/responses/200Labels'
        '404':
          $ref: '#/components/responses/404Any'
  /v1/artifacts/tetraflows:
    get:
      description: Returns a list of all tetraflow artifacts, optionally filtered by namespace type
      summary: List all tetraflow artifacts
      tags:
      - tetraflows
      operationId: getTetraflowArtifacts
      parameters:
      - $ref: '#/components/parameters/ArtifactNamespaceTypeQuery'
      - $ref: '#/components/parameters/LatestOnlyQuery'
      - $ref: '#/components/parameters/IncludePrereleasesQuery'
      responses:
        '200':
          $ref: '#/components/responses/200TetraflowObjectList'
        '404':
          $ref: '#/components/responses/404Any'
  /v1/artifacts/tetraflows/{namespace}:
    get:
      description: Returns a list of all tetraflow artifacts given a namespace
      summary: List all tetraflow for namespace
      tags:
      - tetraflows
      operationId: getTetraflowArtifactsByNamespace
      parameters:
      - $ref: '#/components/parameters/ArtifactNamespace'
      - $ref: '#/components/parameters/LatestOnlyQuery'
      - $ref: '#/components/parameters/IncludePrereleasesQuery'
      responses:
        '200':
          $ref: '#/components/responses/200TetraflowObjectList'
        '404':
          $ref: '#/components/responses/404Any'
  /v1/artifacts/tetraflows/search:
    post:
      summary: Search for tetraflow artifacts
      description: Search for items using specified criteria
      tags:
      - tetraflows
      operationId: searchTetraflows
      parameters:
      - $ref: '#/components/parameters/ValueQuery'
      - $ref: '#/components/parameters/LimitQuery'
      - $ref: '#/components/parameters/IncludePrereleasesQuery'
      responses:
        '200':
          description: A list of items that match the search query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TetraflowObjectList'
        '404':
          $ref: '#/components/responses/404Any'
components:
  responses:
    200Labels:
      description: Successfully fetched Labels
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LabelList'
    200File:
      description: Successfully fetched file
      content:
        application/json:
          schema:
            oneOf:
            - type: object
              properties:
                url:
                  type: string
              required:
              - url
              additionalProperties: false
            - type: object
              properties:
                content:
                  description: Content of the file.  Could be any type
                  format: unknown
              required:
              - content
              additionalProperties: false
            example:
              content: '# README Contents


                * item 1

                * item 2

                * item 3'
    404Any:
      description: Not found or not visible to user
      content:
        application/json:
          schema: {}
          example:
            error: Not Found
            message: Subscription not found
    200TetraflowObjectList:
      description: Successfully fetched TetraflowObject list
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TetraflowObjectList'
    200TetraflowObject:
      description: Successfully fetched TetraflowObject
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TetraflowObject'
    400Any:
      description: Incorrect input provided
      content:
        application/json:
          schema: {}
          example:
            error: Bad Request
            message: Invalid parameters provided.
    200TetraflowFileSlugList:
      description: Successfully fetched available Tetraflow file slugs
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TetraflowFileSlug'
  schemas:
    LabelList:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
          value:
            type: string
        required:
        - name
        - value
        additionalProperties: false
      example:
      - name: label1
        value: value1
      - name: another-label
        value: another-value
    TetraflowFileSlug:
      type: string
      enum:
      - build
      - manifest
      - readme
      - source
      - protocol
      - tetraflowYml
      - generated
    SupportedPlatformVersion:
      type: object
      nullable: true
      properties:
        minPlatformVersion:
          type: string
          nullable: false
        maxPlatformVersion:
          type: string
          nullable: true
    TetraflowObject:
      allOf:
      - $ref: '#/components/schemas/ArtifactObjectBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - tetraflow
        required:
        - type
      example:
        type: tetraflow
        namespace: common
        slug: simplo
        version: v1.0.2
        createdAt: '2024-04-25T15:15:34.269Z'
        lastUpdatedAt: '2023-04-25T17:15:34.269Z'
        name: A demo tetraflow
        description: The description for the demo tetraflow powering the simplo use case
        otherVersions:
        - v1.0.0
        - v1.0.1
    TetraflowObjectList:
      type: array
      items:
        $ref: '#/components/schemas/TetraflowObject'
    ArtifactNamespace:
      type: string
      pattern: ^(common|(private|client)-).*$
    ArtifactObjectBase:
      type: object
      properties:
        namespace:
          $ref: '#/components/schemas/ArtifactNamespace'
        slug:
          type: string
        version:
          type: string
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        lastUpdatedAt:
          type: string
          format: date-time
        otherVersions:
          type: array
          items:
            type: string
        supportedPlatformVersion:
          $ref: '#/components/schemas/SupportedPlatformVersion'
      required:
      - namespace
      - slug
      - version
      - createdAt
      - lastUpdatedAt
  parameters:
    LatestOnlyQuery:
      description: Only return the latest version of each artifact
      name: latest_only
      in: query
      required: false
      schema:
        type: boolean
      example: true
    LimitQuery:
      name: limit
      in: query
      description: The maximum number of results to return
      required: false
      schema:
        type: integer
        minimum: 1
    DownloadQuery:
      name: download
      in: query
      description: If set to true, return a download url
      required: false
      schema:
        type: boolean
    ValueQuery:
      name: value
      in: query
      description: The search string
      required: true
      schema:
        type: string
    ArtifactNamespaceTypeQuery:
      description: Namespace type of artifacts to be returned ('common', 'client', or 'private')
      name: namespace_type
      in: query
      required: false
      schema:
        type: string
        enum:
        - common
        - client
        - private
      example: client
    TetraflowFileSlugParam:
      name: fileSlug
      description: File slug corresponding to file within a tetraflow
      required: true
      in: path
      schema:
        $ref: '#/components/schemas/TetraflowFileSlug'
      example: build
    ArtifactSlug:
      description: Artifact slug
      name: slug
      in: path
      required: true
      schema:
        type: string
      example: demo-slug
    ArtifactVersion:
      description: Artifact version
      name: version
      in: path
      required: true
      schema:
        type: string
        pattern: ^v(\d+|x)\.(\d+|x)\.(\d+|x)(-.*)?$
      example: v1.0.0
    IncludePrereleasesQuery:
      description: Include prerelease artifacts in search
      name: include_prereleases
      in: query
      required: false
      schema:
        type: boolean
      example: true
    ArtifactNamespace:
      description: Artifact namespace. Should be common, private-*, or client-*
      in: path
      name: namespace
      required: true
      schema:
        $ref: '#/components/schemas/ArtifactNamespace'
      example: common
  securitySchemes:
    token:
      type: apiKey
      description: JWT Token for authentication
      in: header
      name: ts-auth-token
    orgSlug:
      type: apiKey
      description: Your organization slug
      in: header
      name: x-org-slug
    tsAuthToken:
      type: apiKey
      in: header
      name: ts-auth-token
