openapi: 3.1.0
info:
  title: TetraScience Data and AI Cloud Access Groups Data App Providers API
  version: '4.0'
  description: Programmatic access to the TetraScience Scientific Data and AI Platform — manage tenants, organizations, users, roles, agents, integrations, pipelines, files, datasets, schemas, and search across the Tetra Data Platform.
  contact:
    name: TetraScience
    url: https://www.tetrascience.com/
  license:
    name: Proprietary
servers:
- url: https://api.tetrascience.com
  description: Production Server
- url: https://api.tetrascience-uat.com
  description: User Acceptance Server
- url: https://api.tetrascience-dev.com
  description: Development Server
- url: https://api.tetrascience-uat.com
  description: User Acceptabce Server
- url: api.tetrascience.com
security:
- token: []
  orgSlug: []
- orgSlug: []
  tsAuthToken: []
tags:
- name: Data App Providers
paths:
  /v1/dataapps/providers:
    post:
      summary: Create a new Data App Provider
      tags:
      - Data App Providers
      operationId: create-a-data-app-provider
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The type of provider. Must be a selection from provider templates.
                name:
                  type: string
                  description: The unique name of this provider
                orgId:
                  type: string
                  description: Organization ID
                iconUrl:
                  type: string
                  description: The URL to the icon image
                secrets:
                  type: array
                  description: The secrets to associate with this provider
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
                      isExistingSecret:
                        type: boolean
      responses:
        '201':
          description: OK
        '400':
          description: Bad Request
        '503':
          description: Service Unavailable
    get:
      summary: Fetch all data app providers
      tags:
      - Data App Providers
      operationId: fetch-data-app-providers
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to return
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Page number for pagination (starts from 1)
      - name: providerName
        in: query
        required: false
        schema:
          type: string
        description: The name of the provider to filter on
      - name: orgId
        in: query
        required: true
        schema:
          type: string
      - name: includeArn
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Indicate if the secret ARNs should be included in the response
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaginatedDataAppProvider'
        '400':
          description: Bad Request
        '503':
          description: Service Unavailable
  /v1/dataapps/providers/{id}:
    delete:
      summary: Delete a Data App Provider
      tags:
      - Data App Providers
      operationId: delete-a-data-app-provider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '503':
          description: Service Unavailable
    get:
      summary: Fetch a Data App Provider
      tags:
      - Data App Providers
      operationId: fetch-a-data-app-provider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: orgId
        in: query
        required: true
        schema:
          type: string
      - name: includeArn
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAppProvider'
        '404':
          description: Not Found
        '503':
          description: Service Unavailable
    put:
      summary: Update a Data App Provider
      tags:
      - Data App Providers
      operationId: update-a-data-app-provider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The type of provider. Must be a selection from provider templates.
                name:
                  type: string
                  description: The unique name of this provider
                orgId:
                  type: string
                  description: Organization ID
                iconUrl:
                  type: string
                  description: The URL to the icon image
                secrets:
                  type: array
                  description: The secrets to associate with this provider
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
                      isExistingSecret:
                        type: boolean
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '503':
          description: Service Unavailable
  /v1/dataapps/providers/templates:
    get:
      summary: Fetch all data app provider templates
      tags:
      - Data App Providers
      operationId: fetch-data-app-provider-templates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataAppProviderTemplate'
        '400':
          description: Bad Request
        '503':
          description: Service Unavailable
components:
  schemas:
    DataAppProvider:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        orgSlug:
          type: string
        type:
          type: string
        iconUrl:
          type: string
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        createdBy:
          type: string
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/DataAppProviderSecret'
    DataAppProviderTemplate:
      type: object
      properties:
        type:
          type: string
        name:
          type: string
        iconUrl:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/DataAppProviderTemplateField'
    PaginatedDataAppProvider:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataAppProvider'
        count:
          type: integer
    DataAppProviderSecret:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        type:
          type: string
        required:
          type: boolean
        arn:
          type: string
        envName:
          type: string
    DataAppProviderTemplateField:
      type: object
      properties:
        name:
          type: string
        display:
          type: string
        type:
          type: string
        required:
          type: boolean
  securitySchemes:
    token:
      type: apiKey
      description: JWT Token for authentication
      in: header
      name: ts-auth-token
    orgSlug:
      type: apiKey
      description: Your organization slug
      in: header
      name: x-org-slug
    tsAuthToken:
      type: apiKey
      in: header
      name: ts-auth-token
