openapi: 3.1.0
info:
  title: TetraScience Data and AI Cloud Access Groups Workflows API
  version: '4.0'
  description: Programmatic access to the TetraScience Scientific Data and AI Platform — manage tenants, organizations, users, roles, agents, integrations, pipelines, files, datasets, schemas, and search across the Tetra Data Platform.
  contact:
    name: TetraScience
    url: https://www.tetrascience.com/
  license:
    name: Proprietary
servers:
- url: https://api.tetrascience.com
  description: Production Server
- url: https://api.tetrascience-uat.com
  description: User Acceptance Server
- url: https://api.tetrascience-dev.com
  description: Development Server
- url: https://api.tetrascience-uat.com
  description: User Acceptabce Server
- url: api.tetrascience.com
security:
- token: []
  orgSlug: []
- orgSlug: []
  tsAuthToken: []
tags:
- name: Workflows
paths:
  /v1/workflow/{workflowId}:
    get:
      summary: Get Single Workflow Details
      description: Search data pipeline workflows
      tags:
      - Workflows
      operationId: DL-FI-get-single-workflow
      parameters:
      - name: workflowId
        in: path
        description: Required. UUID of the workflow.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                OK:
                  value: "{\n\t\"id\": \"ea3e0f87-4ba2-4a10-83f3-db30760fd652\",\n\t\"orgSlug\": \"your_org\",\n\t\"pipelineId\": \"8592187a-d3ed-4410-8ffb-ee47826bebf7\",\n\t\"masterScriptNamespace\": \"private-your_org\",\n\t\"masterScriptSlug\": \"hg-prot-covid-data\",\n\t\"masterScriptVersion\": \"v2.1.0\",\n\t\"protocolSlug\": \"hg-prot-covid-data\",\n\t\"protocolVersion\": \"v2.1.0\",\n\t\"protocol\": {\n\t\t\"protocolSchema\": \"v2\",\n\t\t\"name\": \"HG Protocol COVID-JSON to IDS\",\n\t\t\"description\": \"\",\n\t\t\"steps\": [\n\t\t\t{\n\t\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\t\"description\": \"Generates COVID data row (IDS JSON) for each state.\",\n\t\t\t\t\"type\": \"generator\",\n\t\t\t\t\"script\": {\n\t\t\t\t\t\"namespace\": \"private-your_org\",\n\t\t\t\t\t\"slug\": \"hg-tscr-covid-data\",\n\t\t\t\t\t\"version\": \"v2.0.1\"\n\t\t\t\t},\n\t\t\t\t\"functionSlug\": \"main\"\n\t\t\t}\n\t\t],\n\t\t\"config\": [\n\t\t]\n\t},\n\t\"pipelineConfig\": {\n\t\t\"notificationsConfig\": {\n\t\t\t\"sendOnSuccessful\": true,\n\t\t\t\"sendOnFailed\": true,\n\t\t\t\"notificationEmailAddresses\": [\n\t\t\t\t\"example1@your_org.com\",\n\t\t\t\t\"example2@your_org.com\"\n\t\t\t]\n\t\t},\n\t\t\"pipelineName\": \"HG-Covid-Data\"\n\t},\n\t\"inputFile\": {\n\t\t\"meta\": {\n\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\"source\": {\n\t\t\t\t\"box\": {\n\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\"filePath\": \"/All Files/your_org/testdata/statesdata/test_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t},\n\t\t\t\t\"type\": \"box\"\n\t\t\t},\n\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\"sourceType\": \"box\",\n\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\"integrationType\": \"box\"\n\t\t},\n\t\t\"type\": \"s3file\",\n\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\"customTags\": [\n\t\t],\n\t\t\"customMetadata\": {\n\t\t}\n\t},\n\t\"tasks\": [\n\t\t{\n\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\"input\": {\n\t\t\t\t\"input_file\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"source\": {\n\t\t\t\t\t\t\t\"box\": {\n\t\t\t\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\t\t\t\"filePath\": \"/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"type\": \"box\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\t\t\t\"sourceType\": \"box\",\n\t\t\t\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\"integrationType\": \"box\"\n\t\t\t\t\t},\n\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\t\t\t\"customTags\": [\n\t\t\t\t\t],\n\t\t\t\t\t\"customMetadata\": {\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"retry\": 0,\n\t\t\t\"events\": [\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-08T16:17:59.579+00:00\",\n\t\t\t\t\t\"status\": \"pending\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-08T16:18:23.973+00:00\",\n\t\t\t\t\t\"status\": \"in-progress\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-08T16:18:48.996+00:00\",\n\t\t\t\t\t\"status\": \"completed\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"output\": {\n\t\t\t\t\"type\": \"success\",\n\t\t\t\t\"result\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\t\"fileId\": \"6908a751-62d1-4851-b502-818f7c836df1\",\n\t\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AK-2021-12-08.json\",\n\t\t\t\t\t\t\"version\": \"9sNbqVb879.geEUVp03EfCDpK8j9gz1Z\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\t\"fileId\": \"8df8418a-06e0-4499-be19-e783165cad01\",\n\t\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AL-2021-12-08.json\",\n\t\t\t\t\t\t\"version\": \"KXS6kfQLrlmc42kUTeY6B70uAeDdSjl0\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\t\"fileId\": \"49dbbb9a-f251-4749-838e-6c035804b5f5\",\n\t\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AR-2021-12-08.json\",\n\t\t\t\t\t\t\"version\": \"2S.kPfOMSQm6E38yiJJWso3notx10uAH\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\t\"fileId\": \"200b01d4-b1ab-476b-b439-652d781aec9b\",\n\t\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AZ-2021-12-08.json\",\n\t\t\t\t\t\t\"version\": \"PyPvk3k1wmEsivVHJIMBmOjB3tDxfPR.\"\n\t\t\t\t\t},\n\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\t\"fileId\": \"20d94e00-07aa-46f0-90ab-0c1c4ef3aac6\",\n\t\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-WY-2021-12-08.json\",\n\t\t\t\t\t\t\"version\": \"ShtbhPlrvyfrPv0_jUUnw4M212ebGc1c\"\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t\"script\": {\n\t\t\t\t\"list\": [\n\t\t\t\t\t\"requirements.txt\",\n\t\t\t\t\t\"README-internal.md\",\n\t\t\t\t\t\"config.json\",\n\t\t\t\t\t\"README.md\",\n\t\t\t\t\t\"Pipfile\",\n\t\t\t\t\t\"main.py\",\n\t\t\t\t\t\"Pipfile.lock\",\n\t\t\t\t\t\"__test__/test_business_logic.py\",\n\t\t\t\t\t\"__test__/test_config.py\",\n\t\t\t\t\t\"__test__/test_integration.py\",\n\t\t\t\t\t\"__test__/__pycache__/test_business_logic.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_config.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_integration.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/data/expected.json\",\n\t\t\t\t\t\"__test__/data/input.json\",\n\t\t\t\t\t\"__pycache__/main.cpython-37.pyc\"\n\t\t\t\t],\n\t\t\t\t\"slug\": \"hg-tscr-covid-data\",\n\t\t\t\t\"docker\": {\n\t\t\t\t\t\"image\": \"706717599419.dkr.ecr.us-east-2.amazonaws.com/ts-platform-development-task-private-your_org-hg-tscr-covid-data@sha256:334e32f0810dfdeb3324f63f85c9b6aa7c67fdd4023b317eb67a3a7bdd5be706\"\n\t\t\t\t},\n\t\t\t\t\"version\": \"v2.0.1\",\n\t\t\t\t\"language\": \"python\",\n\t\t\t\t\"maxCount\": 30,\n\t\t\t\t\"createdAt\": \"2022-02-08T15:41:05.234Z\",\n\t\t\t\t\"functions\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"slug\": \"main\",\n\t\t\t\t\t\t\"function\": \"main.main\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"hasSource\": true,\n\t\t\t\t\"namespace\": \"private-your_org\",\n\t\t\t\t\"timestamp\": 1644334642884,\n\t\t\t\t\"runnerType\": \"ecs\",\n\t\t\t\t\"buildLogSaved\": true,\n\t\t\t\t\"buildDurationMs\": 63528\n\t\t\t},\n\t\t\t\"status\": \"completed\",\n\t\t\t\"taskId\": \"a9c6e221-bd6e-4554-9ebd-54a231079591\",\n\t\t\t\"options\": {\n\t\t\t},\n\t\t\t\"createdAt\": \"2022-02-08T16:17:59.563+00:00\",\n\t\t\t\"containerId\": \"5e1a47e9-6d3a-428e-8988-e85746f3756b\",\n\t\t\t\"functionSlug\": \"main\",\n\t\t\t\"lastUpdatedAt\": \"2022-02-08T16:18:49.010+00:00\",\n\t\t\t\"taskMemoryInMB\": 512,\n\t\t\t\"cloudWatchUrl\": \"https://us-east-2.console.aws.amazon.com/cloudwatch/home?region=us-east-2#logs-insights:queryDetail=~(end~'2022-02-08T16*3a23*3a49.010Z~start~'2022-02-08T16*3a12*3a59.563Z~timeType~'ABSOLUTE~tz~'Local~editorString~'filter*20*60taskId*60*3d*27a9c6e221-bd6e-4554-9ebd-54a231079591*27*20and*20*60containerId*60*3d*275e1a47e9-6d3a-428e-8988-e85746f3756b*27*0a*7c*20fields*20*40timestamp*2c*20*40message*0a*7c*20sort*20*40timestamp*20asc~source~(~'*2fecs*2ftaskscripts*2fts-platform*2fcontainers))\"\n\t\t}\n\t],\n\t\"supersededTasks\": [\n\t],\n\t\"status\": \"completed\",\n\t\"events\": [\n\t\t{\n\t\t\t\"at\": \"2022-02-08T16:17:59.463+00:00\",\n\t\t\t\"status\": \"in-progress\"\n\t\t},\n\t\t{\n\t\t\t\"at\": \"2022-02-08T16:18:49.023+00:00\",\n\t\t\t\"status\": \"completed\"\n\t\t}\n\t],\n\t\"createdAt\": \"2022-02-08T16:17:59.142Z\",\n\t\"lastUpdatedAt\": \"2022-02-08T16:18:49.024Z\",\n\t\"restarted\": false,\n\t\"masterScriptLogs\": [\n\t],\n\t\"retryBehavior\": null,\n\t\"output\": {\n\t\t\"type\": \"success\",\n\t\t\"result\": [\n\t\t\t{\n\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\"fileId\": \"6908a751-62d1-4851-b502-818f7c836df1\",\n\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AK-2021-12-08.json\",\n\t\t\t\t\"version\": \"9sNbqVb879.geEUVp03EfCDpK8j9gz1Z\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\"fileId\": \"8df8418a-06e0-4499-be19-e783165cad01\",\n\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AL-2021-12-08.json\",\n\t\t\t\t\"version\": \"KXS6kfQLrlmc42kUTeY6B70uAeDdSjl0\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\"fileId\": \"49dbbb9a-f251-4749-838e-6c035804b5f5\",\n\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AR-2021-12-08.json\",\n\t\t\t\t\"version\": \"2S.kPfOMSQm6E38yiJJWso3notx10uAH\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\"fileId\": \"200b01d4-b1ab-476b-b439-652d781aec9b\",\n\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AZ-2021-12-08.json\",\n\t\t\t\t\"version\": \"PyPvk3k1wmEsivVHJIMBmOjB3tDxfPR.\"\n\t\t\t},\n\n\t\t\t{\n\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\"fileId\": \"20d94e00-07aa-46f0-90ab-0c1c4ef3aac6\",\n\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-WY-2021-12-08.json\",\n\t\t\t\t\"version\": \"ShtbhPlrvyfrPv0_jUUnw4M212ebGc1c\"\n\t\t\t}\n\t\t]\n\t}\n}"
                String Output:
                  value: "{\n\t\"id\": \"38bc1925-cd38-4232-a8cd-16c1baffa0d7\",\n\t\"orgSlug\": \"your_org\",\n\t\"pipelineId\": \"8592187a-d3ed-4410-8ffb-ee47826bebf7\",\n\t\"masterScriptNamespace\": \"private-your_org\",\n\t\"masterScriptSlug\": \"hg-prot-covid-data\",\n\t\"masterScriptVersion\": \"v2.1.0\",\n\t\"protocolSlug\": \"hg-prot-covid-data\",\n\t\"protocolVersion\": \"v2.1.0\",\n\t\"protocol\": {\n\t\t\"protocolSchema\": \"v2\",\n\t\t\"name\": \"HG Protocol COVID-JSON to IDS\",\n\t\t\"description\": \"\",\n\t\t\"steps\": [\n\t\t\t{\n\t\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\t\"description\": \"Generates COVID data row (IDS JSON) for each state.\",\n\t\t\t\t\"type\": \"generator\",\n\t\t\t\t\"script\": {\n\t\t\t\t\t\"namespace\": \"private-your_org\",\n\t\t\t\t\t\"slug\": \"hg-tscr-covid-data\",\n\t\t\t\t\t\"version\": \"v2.0.1\"\n\t\t\t\t},\n\t\t\t\t\"functionSlug\": \"main\"\n\t\t\t}\n\t\t],\n\t\t\"config\": [\n\t\t]\n\t},\n\t\"pipelineConfig\": {\n\t\t\"notificationsConfig\": {\n\t\t\t\"sendOnSuccessful\": true,\n\t\t\t\"sendOnFailed\": true,\n\t\t\t\"notificationEmailAddresses\": [\n\t\t\t\t\"example1@your_org.com\",\n\t\t\t\t\"example2@your_org.com\"\n\t\t\t]\n\t\t},\n\t\t\"pipelineName\": \"HG-Covid-Demo\"\n\t},\n\t\"inputFile\": {\n\t\t\"meta\": {\n\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\"source\": {\n\t\t\t\t\"box\": {\n\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\"filePath\": \"/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t},\n\t\t\t\t\"type\": \"box\"\n\t\t\t},\n\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\"sourceType\": \"box\",\n\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\"integrationType\": \"box\"\n\t\t},\n\t\t\"type\": \"s3file\",\n\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\"customTags\": [\n\t\t],\n\t\t\"customMetadata\": {\n\t\t}\n\t},\n\t\"tasks\": [\n\t\t{\n\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\"input\": {\n\t\t\t\t\"input_file\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"source\": {\n\t\t\t\t\t\t\t\"box\": {\n\t\t\t\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\t\t\t\"filePath\": \"/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"type\": \"box\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\t\t\t\"sourceType\": \"box\",\n\t\t\t\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\"integrationType\": \"box\"\n\t\t\t\t\t},\n\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\t\t\t\"customTags\": [\n\t\t\t\t\t],\n\t\t\t\t\t\"customMetadata\": {\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"retry\": 0,\n\t\t\t\"events\": [\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2021-12-15T16:35:19.762Z\",\n\t\t\t\t\t\"status\": \"pending\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2021-12-15T16:35:44.639Z\",\n\t\t\t\t\t\"status\": \"in-progress\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2021-12-15T16:36:10.039Z\",\n\t\t\t\t\t\"status\": \"completed\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"output\": {\n\t\t\t\t\"type\": \"success\",\n\t\t\t\t\"result\": \"ReturnRandomData\"\n\t\t\t},\n\t\t\t\"script\": {\n\t\t\t\t\"list\": [\n\t\t\t\t\t\"requirements.txt\",\n\t\t\t\t\t\"README-internal.md\",\n\t\t\t\t\t\"config.json\",\n\t\t\t\t\t\"README.md\",\n\t\t\t\t\t\"Pipfile\",\n\t\t\t\t\t\"main.py\",\n\t\t\t\t\t\"Pipfile.lock\",\n\t\t\t\t\t\"__test__/test_business_logic.py\",\n\t\t\t\t\t\"__test__/test_config.py\",\n\t\t\t\t\t\"__test__/test_integration.py\",\n\t\t\t\t\t\"__test__/__pycache__/test_business_logic.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_config.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_integration.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/data/expected.json\",\n\t\t\t\t\t\"__test__/data/input.json\",\n\t\t\t\t\t\"__pycache__/main.cpython-37.pyc\"\n\t\t\t\t],\n\t\t\t\t\"slug\": \"hg-tscr-covid-data\",\n\t\t\t\t\"docker\": {\n\t\t\t\t\t\"image\": \"706717599419.dkr.ecr.us-east-2.amazonaws.com/ts-platform-development-task-private-your_org-hg-tscr-covid-data@sha256:2596c523501d6d88d2a411f60dabb9eeeb6cfb26634f6d61688c5a70c660d299\"\n\t\t\t\t},\n\t\t\t\t\"version\": \"v2.0.1\",\n\t\t\t\t\"language\": \"python\",\n\t\t\t\t\"maxCount\": 30,\n\t\t\t\t\"createdAt\": \"2021-12-15T16:33:30.588Z\",\n\t\t\t\t\"functions\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"slug\": \"main\",\n\t\t\t\t\t\t\"function\": \"main.main\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"hasSource\": true,\n\t\t\t\t\"namespace\": \"private-your_org\",\n\t\t\t\t\"timestamp\": 1639585872877,\n\t\t\t\t\"runnerType\": \"ecs\",\n\t\t\t\t\"buildLogSaved\": true,\n\t\t\t\t\"buildDurationMs\": 79859\n\t\t\t},\n\t\t\t\"status\": \"completed\",\n\t\t\t\"taskId\": \"006fb33e-7f36-4345-b35b-23ae39e27d31\",\n\t\t\t\"options\": {\n\t\t\t},\n\t\t\t\"createdAt\": \"2021-12-15T16:35:19.746Z\",\n\t\t\t\"containerId\": \"fc11e389-8cc9-4581-ba0f-dbee1936d0b1\",\n\t\t\t\"functionSlug\": \"main\",\n\t\t\t\"lastUpdatedAt\": \"2021-12-15T16:36:10.043Z\",\n\t\t\t\"taskMemoryInMB\": 512,\n\t\t\t\"cloudWatchUrl\": \"https://us-east-2.console.aws.amazon.com/cloudwatch/home?region=us-east-2#logs-insights:queryDetail=~(end~'2021-12-15T16*3a41*3a10.043Z~start~'2021-12-15T16*3a30*3a19.746Z~timeType~'ABSOLUTE~tz~'Local~editorString~'filter*20*60taskId*60*3d*27006fb33e-7f36-4345-b35b-23ae39e27d31*27*20and*20*60containerId*60*3d*27fc11e389-8cc9-4581-ba0f-dbee1936d0b1*27*0a*7c*20fields*20*40timestamp*2c*20*40message*0a*7c*20sort*20*40timestamp*20asc~source~(~'*2fecs*2ftaskscripts*2fts-platform*2fcontainers))\"\n\t\t}\n\t],\n\t\"supersededTasks\": [\n\t],\n\t\"status\": \"completed\",\n\t\"events\": [\n\t\t{\n\t\t\t\"at\": \"2021-12-15T16:35:19.665Z\",\n\t\t\t\"status\": \"in-progress\"\n\t\t},\n\t\t{\n\t\t\t\"at\": \"2021-12-15T16:36:10.049Z\",\n\t\t\t\"status\": \"completed\"\n\t\t}\n\t],\n\t\"createdAt\": \"2021-12-15T16:35:19.118Z\",\n\t\"lastUpdatedAt\": \"2021-12-15T16:36:10.049Z\",\n\t\"restarted\": false,\n\t\"masterScriptLogs\": [\n\t],\n\t\"retryBehavior\": \"off\",\n\t\"output\": {\n\t\t\"type\": \"success\",\n\t\t\"result\": \"ReturnRandomData\"\n\t}\n}\n"
                Boolean Output:
                  value: "{\n\t\"id\": \"adc14152-8893-4c6e-9858-efa6308354c8\",\n\t\"orgSlug\": \"your_org\",\n\t\"pipelineId\": \"8592187a-d3ed-4410-8ffb-ee47826bebf7\",\n\t\"masterScriptNamespace\": \"private-your_org\",\n\t\"masterScriptSlug\": \"hg-prot-covid-data\",\n\t\"masterScriptVersion\": \"v2.1.0\",\n\t\"protocolSlug\": \"hg-prot-covid-data\",\n\t\"protocolVersion\": \"v2.1.0\",\n\t\"protocol\": {\n\t\t\"protocolSchema\": \"v2\",\n\t\t\"name\": \"HG Protocol COVID-JSON to IDS\",\n\t\t\"description\": \"\",\n\t\t\"steps\": [\n\t\t\t{\n\t\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\t\"description\": \"Generates COVID data row (IDS JSON) for each state.\",\n\t\t\t\t\"type\": \"generator\",\n\t\t\t\t\"script\": {\n\t\t\t\t\t\"namespace\": \"private-your_org\",\n\t\t\t\t\t\"slug\": \"hg-tscr-covid-data\",\n\t\t\t\t\t\"version\": \"v2.0.1\"\n\t\t\t\t},\n\t\t\t\t\"functionSlug\": \"main\"\n\t\t\t}\n\t\t],\n\t\t\"config\": [\n\t\t]\n\t},\n\t\"pipelineConfig\": {\n\t\t\"notificationsConfig\": {\n\t\t\t\"sendOnSuccessful\": true,\n\t\t\t\"sendOnFailed\": true,\n\t\t\t\"notificationEmailAddresses\": [\n\t\t\t\t\"example1@your_org.com\",\n\t\t\t\t\"example2@your_org.com\"\n\t\t\t]\n\t\t},\n\t\t\"pipelineName\": \"HG-Covid-Data\"\n\t},\n\t\"inputFile\": {\n\t\t\"meta\": {\n\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\"source\": {\n\t\t\t\t\"box\": {\n\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\"filePath\": \"/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t},\n\t\t\t\t\"type\": \"box\"\n\t\t\t},\n\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\"sourceType\": \"box\",\n\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\"integrationType\": \"box\"\n\t\t},\n\t\t\"type\": \"s3file\",\n\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\"customTags\": [\n\t\t],\n\t\t\"customMetadata\": {\n\t\t}\n\t},\n\t\"tasks\": [\n\t\t{\n\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\"input\": {\n\t\t\t\t\"input_file\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"source\": {\n\t\t\t\t\t\t\t\"box\": {\n\t\t\t\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\t\t\t\"filePath\": \"/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"type\": \"box\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\t\t\t\"sourceType\": \"box\",\n\t\t\t\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\"integrationType\": \"box\"\n\t\t\t\t\t},\n\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\t\t\t\"customTags\": [\n\t\t\t\t\t],\n\t\t\t\t\t\"customMetadata\": {\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"retry\": 0,\n\t\t\t\"events\": [\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-04T16:12:16.469+00:00\",\n\t\t\t\t\t\"status\": \"pending\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-04T16:12:41.477+00:00\",\n\t\t\t\t\t\"status\": \"in-progress\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-04T16:13:05.874+00:00\",\n\t\t\t\t\t\"status\": \"completed\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"output\": {\n\t\t\t\t\"type\": \"success\",\n\t\t\t\t\"result\": true\n\t\t\t},\n\t\t\t\"script\": {\n\t\t\t\t\"list\": [\n\t\t\t\t\t\"requirements.txt\",\n\t\t\t\t\t\"README-internal.md\",\n\t\t\t\t\t\"config.json\",\n\t\t\t\t\t\"README.md\",\n\t\t\t\t\t\"Pipfile\",\n\t\t\t\t\t\"main.py\",\n\t\t\t\t\t\"Pipfile.lock\",\n\t\t\t\t\t\"__test__/test_business_logic.py\",\n\t\t\t\t\t\"__test__/test_config.py\",\n\t\t\t\t\t\"__test__/test_integration.py\",\n\t\t\t\t\t\"__test__/__pycache__/test_business_logic.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_config.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_integration.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/data/expected.json\",\n\t\t\t\t\t\"__test__/data/input.json\",\n\t\t\t\t\t\"__pycache__/main.cpython-37.pyc\"\n\t\t\t\t],\n\t\t\t\t\"slug\": \"hg-tscr-covid-data\",\n\t\t\t\t\"docker\": {\n\t\t\t\t\t\"image\": \"706717599419.dkr.ecr.us-east-2.amazonaws.com/ts-platform-development-task-private-your_org-hg-tscr-covid-data@sha256:947d1b9fa98aac20eb9e36ae89c8aed971c521e437c628248af5da3769a2845a\"\n\t\t\t\t},\n\t\t\t\t\"version\": \"v2.0.1\",\n\t\t\t\t\"language\": \"python\",\n\t\t\t\t\"maxCount\": 30,\n\t\t\t\t\"createdAt\": \"2022-02-04T16:11:54.239Z\",\n\t\t\t\t\"functions\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"slug\": \"main\",\n\t\t\t\t\t\t\"function\": \"main.main\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"hasSource\": true,\n\t\t\t\t\"namespace\": \"private-your_org\",\n\t\t\t\t\"timestamp\": 1643990906049,\n\t\t\t\t\"runnerType\": \"ecs\",\n\t\t\t\t\"buildLogSaved\": true,\n\t\t\t\t\"buildDurationMs\": 72462\n\t\t\t},\n\t\t\t\"status\": \"completed\",\n\t\t\t\"taskId\": \"c86dee84-b8b1-469e-99cc-f2d7aabdd1c0\",\n\t\t\t\"options\": {\n\t\t\t},\n\t\t\t\"createdAt\": \"2022-02-04T16:12:16.457+00:00\",\n\t\t\t\"containerId\": \"1ad30161-4fc7-42bc-929f-74dc47b9a38a\",\n\t\t\t\"functionSlug\": \"main\",\n\t\t\t\"lastUpdatedAt\": \"2022-02-04T16:13:05.881+00:00\",\n\t\t\t\"taskMemoryInMB\": 512,\n\t\t\t\"cloudWatchUrl\": \"https://us-east-2.console.aws.amazon.com/cloudwatch/home?region=us-east-2#logs-insights:queryDetail=~(end~'2022-02-04T16*3a18*3a05.881Z~start~'2022-02-04T16*3a07*3a16.457Z~timeType~'ABSOLUTE~tz~'Local~editorString~'filter*20*60taskId*60*3d*27c86dee84-b8b1-469e-99cc-f2d7aabdd1c0*27*20and*20*60containerId*60*3d*271ad30161-4fc7-42bc-929f-74dc47b9a38a*27*0a*7c*20fields*20*40timestamp*2c*20*40message*0a*7c*20sort*20*40timestamp*20asc~source~(~'*2fecs*2ftaskscripts*2fts-platform*2fcontainers))\"\n\t\t}\n\t],\n\t\"supersededTasks\": [\n\t],\n\t\"status\": \"completed\",\n\t\"events\": [\n\t\t{\n\t\t\t\"at\": \"2022-02-04T16:12:16.369+00:00\",\n\t\t\t\"status\": \"in-progress\"\n\t\t},\n\t\t{\n\t\t\t\"at\": \"2022-02-04T16:13:05.884+00:00\",\n\t\t\t\"status\": \"completed\"\n\t\t}\n\t],\n\t\"createdAt\": \"2022-02-04T16:12:15.687Z\",\n\t\"lastUpdatedAt\": \"2022-02-04T16:13:05.885Z\",\n\t\"restarted\": false,\n\t\"masterScriptLogs\": [\n\t],\n\t\"retryBehavior\": null,\n\t\"output\": {\n\t\t\"type\": \"success\",\n\t\t\"result\": true\n\t}\n}\n"
              schema:
                oneOf:
                - title: OK
                  type: object
                  properties:
                    id:
                      type: string
                      example: ea3e0f87-4ba2-4a10-83f3-db30760fd652
                    orgSlug:
                      type: string
                      example: your_org
                    pipelineId:
                      type: string
                      example: 8592187a-d3ed-4410-8ffb-ee47826bebf7
                    masterScriptNamespace:
                      type: string
                      example: private-your_org
                    masterScriptSlug:
                      type: string
                      example: hg-prot-covid-data
                    masterScriptVersion:
                      type: string
                      example: v2.1.0
                    protocolSlug:
                      type: string
                      example: hg-prot-covid-data
                    protocolVersion:
                      type: string
                      example: v2.1.0
                    protocol:
                      type: object
                      properties:
                        protocolSchema:
                          type: string
                          example: v2
                        name:
                          type: string
                          example: HG Protocol COVID-JSON to IDS
                        description:
                          type: string
                          example: ''
                        steps:
                          type: array
                          items:
                            type: object
                            properties:
                              slug:
                                type: string
                                example: first-step-covid-json-ids
                              description:
                                type: string
                                example: Generates COVID data row (IDS JSON) for each state.
                              type:
                                type: string
                                example: generator
                              script:
                                type: object
                                properties:
                                  namespace:
                                    type: string
                                    example: private-your_org
                                  slug:
                                    type: string
                                    example: hg-tscr-covid-data
                                  version:
                                    type: string
                                    example: v2.0.1
                              functionSlug:
                                type: string
                                example: main
                        config:
                          type: array
                    pipelineConfig:
                      type: object
                      properties:
                        notificationsConfig:
                          type: object
                          properties:
                            sendOnSuccessful:
                              type: boolean
                              example: true
                              default: true
                            sendOnFailed:
                              type: boolean
                              example: true
                              default: true
                            notificationEmailAddresses:
                              type: array
                              items:
                                type: string
                                example: example1@your_org.com
                        pipelineName:
                          type: string
                          example: HG-Covid-Data
                    inputFile:
                      type: object
                      properties:
                        meta:
                          type: object
                          properties:
                            fileId:
                              type: string
                              example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                            source:
                              type: object
                              properties:
                                box:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                                    size:
                                      type: integer
                                      example: 2648411
                                      default: 0
                                    filePath:
                                      type: string
                                      example: /All Files/your_org/testdata/statesdata/test_states_tseries_2021_12_09.json
                                    integrationSource:
                                      type: string
                                      example: 4095be8f-40c6-487d-99ce-bef42682c36b
                                type:
                                  type: string
                                  example: box
                            traceId:
                              type: string
                              example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                            sourceId:
                              type: string
                              example: 4095be8f-40c6-487d-99ce-bef42682c36b
                            sourceName:
                              type: string
                              example: HG-Box-Covid-Data-States
                            sourceType:
                              type: string
                              example: box
                            integrationId:
                              type: string
                              example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                            integrationType:
                              type: string
                              example: box
                        type:
                          type: string
                          example: s3file
                        bucket:
                          type: string
                          example: ts-platform-dev-datalake
                        fileId:
                          type: string
                          example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                        fileKey:
                          type: string
                          example: your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                        version:
                          type: string
                          example: YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL
                        customTags:
                          type: array
                        customMetadata:
                          type: object
                          properties: {}
                    tasks:
                      type: array
                      items:
                        type: object
                        properties:
                          slug:
                            type: string
                            example: first-step-covid-json-ids
                          input:
                            type: object
                            properties:
                              input_file:
                                type: object
                                properties:
                                  meta:
                                    type: object
                                    properties:
                                      fileId:
                                        type: string
                                        example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                                      source:
                                        type: object
                                        properties:
                                          box:
                                            type: object
                                            properties:
                                              id:
                                                type: string
                                                example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                                              size:
                                                type: integer
                                                example: 2648411
                                                default: 0
                                              filePath:
                                                type: string
                                                example: /All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                                              integrationSource:
                                                type: string
                                                example: 4095be8f-40c6-487d-99ce-bef42682c36b
                                          type:
                                            type: string
                                            example: box
                                      traceId:
                                        type: string
                                        example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                                      sourceId:
                                        type: string
                                        example: 4095be8f-40c6-487d-99ce-bef42682c36b
                                      sourceName:
                                        type: string
                                        example: HG-Box-Covid-Data-States
                                      sourceType:
                                        type: string
                                        example: box
                                      integrationId:
                                        type: string
                                        example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                                      integrationType:
                                        type: string
                                        example: box
                                  type:
                                    type: string
                                    example: s3file
                                  bucket:
                                    type: string
                                    example: ts-platform-dev-datalake
                                  fileId:
                                    type: string
                                    example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                                  fileKey:
                                    type: string
                                    example: your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                                  version:
                                    type: string
                                    example: YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL
                                  customTags:
                                    type: array
                                  customMetadata:
                                    type: object
                                    properties: {}
                          retry:
                            type: integer
                            example: 0
                            default: 0
                          events:
                            type: array
                            items:
                              type: object
                              properties:
                                at:
                                  type: string
                                  example: '2022-02-08T16:17:59.579+00:00'
                                status:
                                  type: string
                                  example: pending
                          output:
                            type: object
                            properties:
                              type:
                                type: string
                                example: success
                              result:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: s3file
                                    bucket:
                                      type: string
                                      example: ts-platform-dev-datalake
                                    fileId:
                                      type: string
                                      example: 6908a751-62d1-4851-b502-818f7c836df1
                                    fileKey:
                                      type: string
                                      example: your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AK-2021-12-08.json
                                    version:
                                      type: string
                                      example: 9sNbqVb879.geEUVp03EfCDpK8j9gz1Z
                          script:
                            type: object
                            properties:
                              list:
                                type: array
                                items:
                                  type: string
                                  example: requirements.txt
                              slug:
                                type: string
                                example: hg-tscr-covid-data
                              docker:
                                type: object
                                properties:
                                  image:
                                    type: string
                                    example: 706717599419.dkr.ecr.us-east-2.amazonaws.com/ts-platform-development-task-private-your_org-hg-tscr-covid-data@sha256:334e32f0810dfdeb3324f63f85c9b6aa7c67fdd4023b317eb67a3a7bdd5be706
                              version:
                                type: string
                                example: v2.0.1
                              language:
                                type: string
                                example: python
                              maxCount:
                                type: integer
                                example: 30
                                default: 0
                              createdAt:
                                type: string
                                example: '2022-02-08T15:41:05.234Z'
                              functions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    slug:
                                      type: string
                                      example: main
                                    function:
                                      type: string
                                      example: main.main
                              hasSource:
                                type: boolean
                                example: true
                                default: true
                              namespace:
                                type: string
                                example: private-your_org
                              timestamp:
                                type: integer
                                example: 1644334642884
                                default: 0
                              runnerType:
                                type: string
                                example: ecs
                              buildLogSaved:
                                type: boolean
                                example: true
                                default: true
                              buildDurationMs:
                                type: integer
                                example: 63528
                                default: 0
                          status:
                            type: string
                            example: completed
                          taskId:
                            type: string
                            example: a9c6e221-bd6e-4554-9ebd-54a231079591
                          options:
                            type: object
                            properties: {}
                          createdAt:
                            type: string
                            example: '2022-02-08T16:17:59.563+00:00'
                          containerId:
                            type: string
                            example: 5e1a47e9-6d3a-428e-8988-e85746f3756b
                          functionSlug:
                            type: string
                            example: main
                          lastUpdatedAt:
                            type: string
                            example: '2022-02-08T16:18:49.010+00:00'
                          taskMemoryInMB:
                            type: integer
                            example: 512
                            default: 0
                          cloudWatchUrl:
                            type: string
                            example: https://us-east-2.console.aws.amazon.com/cloudwatch/home?region=us-east-2#logs-insights:queryDetail=~(end~'2022-02-08T16*3a23*3a49.010Z~start~'2022-02-08T16*3a12*3a59.563Z~timeType~'ABSOLUTE~tz~'Local~editorString~'filter*20*60taskId*60*3d*27a9c6e221-bd6e-4554-9ebd-54a231079591*27*20and*20*60containerId*60*3d*275e1a47e9-6d3a-428e-8988-e85746f3756b*27*0a*7c*20fields*20*40timestamp*2c*20*40message*0a*7c*20sort*20*40timestamp*20asc~source~(~'*2fecs*2ftaskscripts*2fts-platform*2fcontainers))
                    supersededTasks:
                      type: array
                    status:
                      type: string
                      example: completed
                    events:
                      type: array
                      items:
                        type: object
                        properties:
                          at:
                            type: string
                            example: '2022-02-08T16:17:59.463+00:00'
                          status:
                            type: string
                            example: in-progress
                    createdAt:
                      type: string
                      example: '2022-02-08T16:17:59.142Z'
                    lastUpdatedAt:
                      type: string
                      example: '2022-02-08T16:18:49.024Z'
                    restarted:
                      type: boolean
                      example: false
                      default: true
                    masterScriptLogs:
                      type: array
                    retryBehavior: {}
                    output:
                      type: object
                      properties:
                        type:
                          type: string
                          example: success
                        result:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                example: s3file
                              bucket:
                                type: string
                                example: ts-platform-dev-datalake
                              fileId:
                                type: string
                                example: 6908a751-62d1-4851-b502-818f7c836df1
                              fileKey:
                                type: string
                                example: your_org/4095be8f-40c6-487d-99ce-bef42682c36b/IDS/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json/covid-state-tseries-AK-2021-12-08.json
                              version:
                                type: string
                                example: 9sNbqVb879.geEUVp03EfCDpK8j9gz1Z
                - title: String Output
                  type: object
                  properties:
                    id:
                      type: string
                      example: 38bc1925-cd38-4232-a8cd-16c1baffa0d7
                    orgSlug:
                      type: string
                      example: your_org
                    pipelineId:
                      type: string
                      example: 8592187a-d3ed-4410-8ffb-ee47826bebf7
                    masterScriptNamespace:
                      type: string
                      example: private-your_org
                    masterScriptSlug:
                      type: string
                      example: hg-prot-covid-data
                    masterScriptVersion:
                      type: string
                      example: v2.1.0
                    protocolSlug:
                      type: string
                      example: hg-prot-covid-data
                    protocolVersion:
                      type: string
                      example: v2.1.0
                    protocol:
                      type: object
                      properties:
                        protocolSchema:
                          type: string
                          example: v2
                        name:
                          type: string
                          example: HG Protocol COVID-JSON to IDS
                        description:
                          type: string
                          example: ''
                        steps:
                          type: array
                          items:
                            type: object
                            properties:
                              slug:
                                type: string
                                example: first-step-covid-json-ids
                              description:
                                type: string
                                example: Generates COVID data row (IDS JSON) for each state.
                              type:
                                type: string
                                example: generator
                              script:
                                type: object
                                properties:
                                  namespace:
                                    type: string
                                    example: private-your_org
                                  slug:
                                    type: string
                                    example: hg-tscr-covid-data
                                  version:
                                    type: string
                                    example: v2.0.1
                              functionSlug:
                                type: string
                                example: main
                        config:
                          type: array
                    pipelineConfig:
                      type: object
                      properties:
                        notificationsConfig:
                          type: object
                          properties:
                            sendOnSuccessful:
                              type: boolean
                              example: true
                              default: true
                            sendOnFailed:
                              type: boolean
                              example: true
                              default: true
                            notificationEmailAddresses:
                              type: array
                              items:
                                type: string
                                example: example1@your_org.com
                        pipelineName:
                          type: string
                          example: HG-Covid-Demo
                    inputFile:
                      type: object
                      properties:
                        meta:
                          type: object
                          properties:
                            fileId:
                              type: string
                              example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                            source:
                              type: object
                              properties:
                                box:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                                    size:
                                      type: integer
                                      example: 2648411
                                      default: 0
                                    filePath:
                                      type: string
                                      example: /All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                                    integrationSource:
                                      type: string
                                      example: 4095be8f-40c6-487d-99ce-bef42682c36b
                                type:
                                  type: string
                                  example: box
                            traceId:
                              type: string
                              example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                            sourceId:
                              type: string
                              example: 4095be8f-40c6-487d-99ce-bef42682c36b
                            sourceName:
                              type: string
                              example: HG-Box-Covid-Data-States
                            sourceType:
                              type: string
                              example: box
                            integrationId:
                              type: string
                              example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                            integrationType:
                              type: string
                              example: box
                        type:
                          type: string
                          example: s3file
                        bucket:
                          type: string
                          example: ts-platform-dev-datalake
                        fileId:
                          type: string
                          example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                        fileKey:
                          type: string
                          example: your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                        version:
                          type: string
                          example: YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL
                        customTags:
                          type: array
                        customMetadata:
                          type: object
                          properties: {}
                    tasks:
                      type: array
                      items:
                        type: object
                        properties:
                          slug:
                            type: string
                            example: first-step-covid-json-ids
                          input:
                            type: object
                            properties:
                              input_file:
                                type: object
                                properties:
                                  meta:
                                    type: object
                                    properties:
                                      fileId:
                                        type: string
                                        example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                                      source:
                                        type: object
                                        properties:
                                          box:
                                            type: object
                                            properties:
                                              id:
                                                type: string
                                                example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                                              size:
                                                type: integer
                                                example: 2648411
                                                default: 0
                                              filePath:
                                                type: string
                                                example: /All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                                              integrationSource:
                                                type: string
                                                example: 4095be8f-40c6-487d-99ce-bef42682c36b
                                          type:
                                            type: string
                                            example: box
                                      traceId:
                                        type: string
                                        example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                                      sourceId:
                                        type: string
                                        example: 4095be8f-40c6-487d-99ce-bef42682c36b
                                      sourceName:
                                        type: string
                                        example: HG-Box-Covid-Data-States
                                      sourceType:
                                        type: string
                                        example: box
                                      integrationId:
                                        type: string
                                        example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                                      integrationType:
                                        type: string
                                        example: box
                                  type:
                                    type: string
                                    example: s3file
                                  bucket:
                                    type: string
                                    example: ts-platform-dev-datalake
                                  fileId:
                                    type: string
                                    example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                                  fileKey:
                                    type: string
                                    example: your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                                  version:
                                    type: string
                                    example: YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL
                                  customTags:
                                    type: array
                                  customMetadata:
                                    type: object
                                    properties: {}
                          retry:
                            type: integer
                            example: 0
                            default: 0
                          events:
                            type: array
                            items:
                              type: object
                              properties:
                                at:
                                  type: string
                                  example: '2021-12-15T16:35:19.762Z'
                                status:
                                  type: string
                                  example: pending
                          output:
                            type: object
                            properties:
                              type:
                                type: string
                                example: success
                              result:
                                type: string
                                example: ReturnRandomData
                          script:
                            type: object
                            properties:
                              list:
                                type: array
                                items:
                                  type: string
                                  example: requirements.txt
                              slug:
                                type: string
                                example: hg-tscr-covid-data
                              docker:
                                type: object
                                properties:
                                  image:
                                    type: string
                                    example: 706717599419.dkr.ecr.us-east-2.amazonaws.com/ts-platform-development-task-private-your_org-hg-tscr-covid-data@sha256:2596c523501d6d88d2a411f60dabb9eeeb6cfb26634f6d61688c5a70c660d299
                              version:
                                type: string
                                example: v2.0.1
                              language:
                                type: string
                                example: python
                              maxCount:
                                type: integer
                                example: 30
                                default: 0
                              createdAt:
                                type: string
                                example: '2021-12-15T16:33:30.588Z'
                              functions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    slug:
                                      type: string
                                      example: main
                                    function:
                                      type: string
                                      example: main.main
                              hasSource:
                                type: boolean
                                example: true
                                default: true
                              namespace:
                                type: string
                                example: private-your_org
                              timestamp:
                                type: integer
                                example: 1639585872877
                                default: 0
                              runnerType:
                                type: string
                                example: ecs
                              buildLogSaved:
                                type: boolean
                                example: true
                                default: true
                              buildDurationMs:
                                type: integer
                                example: 79859
                                default: 0
                          status:
                            type: string
                            example: completed
                          taskId:
                            type: string
                            example: 006fb33e-7f36-4345-b35b-23ae39e27d31
                          options:
                            type: object
                            properties: {}
                          createdAt:
                            type: string
                            example: '2021-12-15T16:35:19.746Z'
                          containerId:
                            type: string
                            example: fc11e389-8cc9-4581-ba0f-dbee1936d0b1
                          functionSlug:
                            type: string
                            example: main
                          lastUpdatedAt:
                            type: string
                            example: '2021-12-15T16:36:10.043Z'
                          taskMemoryInMB:
                            type: integer
                            example: 512
                            default: 0
                          cloudWatchUrl:
                            type: string
                            example: https://us-east-2.console.aws.amazon.com/cloudwatch/home?region=us-east-2#logs-insights:queryDetail=~(end~'2021-12-15T16*3a41*3a10.043Z~start~'2021-12-15T16*3a30*3a19.746Z~timeType~'ABSOLUTE~tz~'Local~editorString~'filter*20*60taskId*60*3d*27006fb33e-7f36-4345-b35b-23ae39e27d31*27*20and*20*60containerId*60*3d*27fc11e389-8cc9-4581-ba0f-dbee1936d0b1*27*0a*7c*20fields*20*40timestamp*2c*20*40message*0a*7c*20sort*20*40timestamp*20asc~source~(~'*2fecs*2ftaskscripts*2fts-platform*2fcontainers))
                    supersededTasks:
                      type: array
                    status:
                      type: string
                      example: completed
                    events:
                      type: array
                      items:
                        type: object
                        properties:
                          at:
                            type: string
                            example: '2021-12-15T16:35:19.665Z'
                          status:
                            type: string
                            example: in-progress
                    createdAt:
                      type: string
                      example: '2021-12-15T16:35:19.118Z'
                    lastUpdatedAt:
                      type: string
                      example: '2021-12-15T16:36:10.049Z'
                    restarted:
                      type: boolean
                      example: false
                      default: true
                    masterScriptLogs:
                      type: array
                    retryBehavior:
                      type: string
                      example: 'off'
                    output:
                      type: object
                      properties:
                        type:
                          type: string
                          example: success
                        result:
                          type: string
                          example: ReturnRandomData
                - title: Boolean Output
                  type: object
                  properties:
                    id:
                      type: string
                      example: adc14152-8893-4c6e-9858-efa6308354c8
                    orgSlug:
                      type: string
                      example: your_org
                    pipelineId:
                      type: string
                      example: 8592187a-d3ed-4410-8ffb-ee47826bebf7
                    masterScriptNamespace:
                      type: string
                      example: private-your_org
                    masterScriptSlug:
                      type: string
                      example: hg-prot-covid-data
                    masterScriptVersion:
                      type: string
                      example: v2.1.0
                    protocolSlug:
                      type: string
                      example: hg-prot-covid-data
                    protocolVersion:
                      type: string
                      example: v2.1.0
                    protocol:
                      type: object
                      properties:
                        protocolSchema:
                          type: string
                          example: v2
                        name:
                          type: string
                          example: HG Protocol COVID-JSON to IDS
                        description:
                          type: string
                          example: ''
                        steps:
                          type: array
                          items:
                            type: object
                            properties:
                              slug:
                                type: string
                                example: first-step-covid-json-ids
                              description:
                                type: string
                                example: Generates COVID data row (IDS JSON) for each state.
                              type:
                                type: string
                                example: generator
                              script:
                                type: object
                                properties:
                                  namespace:
                                    type: string
                                    example: private-your_org
                                  slug:
                                    type: string
                                    example: hg-tscr-covid-data
                                  version:
                                    type: string
                                    example: v2.0.1
                              functionSlug:
                                type: string
                                example: main
                        config:
                          type: array
                    pipelineConfig:
                      type: object
                      properties:
                        notificationsConfig:
                          type: object
                          properties:
                            sendOnSuccessful:
                              type: boolean
                              example: true
                              default: true
                            sendOnFailed:
                              type: boolean
                              example: true
                              default: true
                            notificationEmailAddresses:
                              type: array
                              items:
                                type: string
                                example: example1@your_org.com
                        pipelineName:
                          type: string
                          example: HG-Covid-Data
                    inputFile:
                      type: object
                      properties:
                        meta:
                          type: object
                          properties:
                            fileId:
                              type: string
                              example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                            source:
                              type: object
                              properties:
                                box:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                                    size:
                                      type: integer
                                      example: 2648411
                                      default: 0
                                    filePath:
                                      type: string
                                      example: /All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                                    integrationSource:
                                      type: string
                                      example: 4095be8f-40c6-487d-99ce-bef42682c36b
                                type:
                                  type: string
                                  example: box
                            traceId:
                              type: string
                              example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                            sourceId:
                              type: string
                              example: 4095be8f-40c6-487d-99ce-bef42682c36b
                            sourceName:
                              type: string
                              example: HG-Box-Covid-Data-States
                            sourceType:
                              type: string
                              example: box
                            integrationId:
                              type: string
                              example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                            integrationType:
                              type: string
                              example: box
                        type:
                          type: string
                          example: s3file
                        bucket:
                          type: string
                          example: ts-platform-dev-datalake
                        fileId:
                          type: string
                          example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                        fileKey:
                          type: string
                          example: your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                        version:
                          type: string
                          example: YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL
                        customTags:
                          type: array
                        customMetadata:
                          type: object
                          properties: {}
                    tasks:
                      type: array
                      items:
                        type: object
                        properties:
                          slug:
                            type: string
                            example: first-step-covid-json-ids
                          input:
                            type: object
                            properties:
                              input_file:
                                type: object
                                properties:
                                  meta:
                                    type: object
                                    properties:
                                      fileId:
                                        type: string
                                        example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                                      source:
                                        type: object
                                        properties:
                                          box:
                                            type: object
                                            properties:
                                              id:
                                                type: string
                                                example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                                              size:
                                                type: integer
                                                example: 2648411
                                                default: 0
                                              filePath:
                                                type: string
                                                example: /All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                                              integrationSource:
                                                type: string
                                                example: 4095be8f-40c6-487d-99ce-bef42682c36b
                                          type:
                                            type: string
                                            example: box
                                      traceId:
                                        type: string
                                        example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                                      sourceId:
                                        type: string
                                        example: 4095be8f-40c6-487d-99ce-bef42682c36b
                                      sourceName:
                                        type: string
                                        example: HG-Box-Covid-Data-States
                                      sourceType:
                                        type: string
                                        example: box
                                      integrationId:
                                        type: string
                                        example: 56d9293c-2dc7-4133-b21b-c1468aefb41f
                                      integrationType:
                                        type: string
                                        example: box
                                  type:
                                    type: string
                                    example: s3file
                                  bucket:
                                    type: string
                                    example: ts-platform-dev-datalake
                                  fileId:
                                    type: string
                                    example: 650bc88a-e90c-48c7-a349-65dcc756b0a4
                                  fileKey:
                                    type: string
                                    example: your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json
                                  version:
                                    type: string
                                    example: YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL
                                  customTags:
                                    type: array
                                  customMetadata:
                                    type: object
                                    properties: {}
                          retry:
                            type: integer
                            example: 0
                            default: 0
                          events:
                            type: array
                            items:
                              type: object
                              properties:
                                at:
                                  type: string
                                  example: '2022-02-04T16:12:16.469+00:00'
                                status:
                                  type: string
                                  example: pending
                          output:
                            type: object
                            properties:
                              type:
                                type: string
                                example: success
                              result:
                                type: boolean
                                example: true
                                default: true
                          script:
                            type: object
                            properties:
                              list:
                                type: array
                                items:
                                  type: string
                                  example: requirements.txt
                              slug:
                                type: string
                                example: hg-tscr-covid-data
                              docker:
                                type: object
                                properties:
                                  image:
                                    type: string
                                    example: 706717599419.dkr.ecr.us-east-2.amazonaws.com/ts-platform-development-task-private-your_org-hg-tscr-covid-data@sha256:947d1b9fa98aac20eb9e36ae89c8aed971c521e437c628248af5da3769a2845a
                              version:
                                type: string
                                example: v2.0.1
                              language:
                                type: string
                                example: python
                              maxCount:
                                type: integer
                                example: 30
                                default: 0
                              createdAt:
                                type: string
                                example: '2022-02-04T16:11:54.239Z'
                              functions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    slug:
                                      type: string
                                      example: main
                                    function:
                                      type: string
                                      example: main.main
                              hasSource:
                                type: boolean
                                example: true
                                default: true
                              namespace:
                                type: string
                                example: private-your_org
                              timestamp:
                                type: integer
                                example: 1643990906049
                                default: 0
                              runnerType:
                                type: string
                                example: ecs
                              buildLogSaved:
                                type: boolean
                                example: true
                                default: true
                              buildDurationMs:
                                type: integer
                                example: 72462
                                default: 0
                          status:
                            type: string
                            example: completed
                          taskId:
                            type: string
                            example: c86dee84-b8b1-469e-99cc-f2d7aabdd1c0
                          options:
                            type: object
                            properties: {}
                          createdAt:
                            type: string
                            example: '2022-02-04T16:12:16.457+00:00'
                          containerId:
                            type: string
                            example: 1ad30161-4fc7-42bc-929f-74dc47b9a38a
                          functionSlug:
                            type: string
                            example: main
                          lastUpdatedAt:
                            type: string
                            example: '2022-02-04T16:13:05.881+00:00'
                          taskMemoryInMB:
                            type: integer
                            example: 512
                            default: 0
                          cloudWatchUrl:
                            type: string
                            example: https://us-east-2.console.aws.amazon.com/cloudwatch/home?region=us-east-2#logs-insights:queryDetail=~(end~'2022-02-04T16*3a18*3a05.881Z~start~'2022-02-04T16*3a07*3a16.457Z~timeType~'ABSOLUTE~tz~'Local~editorString~'filter*20*60taskId*60*3d*27c86dee84-b8b1-469e-99cc-f2d7aabdd1c0*27*20and*20*60containerId*60*3d*271ad30161-4fc7-42bc-929f-74dc47b9a38a*27*0a*7c*20fields*20*40timestamp*2c*20*40message*0a*7c*20sort*20*40timestamp*20asc~source~(~'*2fecs*2ftaskscripts*2fts-platform*2fcontainers))
                    supersededTasks:
                      type: array
                    status:
                      type: string
                      example: completed
                    events:
                      type: array
                      items:
                        type: object
                        properties:
                          at:
                            type: string
                            example: '2022-02-04T16:12:16.369+00:00'
                          status:
                            type: string
                            example: in-progress
                    createdAt:
                      type: string
                      example: '2022-02-04T16:12:15.687Z'
                    lastUpdatedAt:
                      type: string
                      example: '2022-02-04T16:13:05.885Z'
                    restarted:
                      type: boolean
                      example: false
                      default: true
                    masterScriptLogs:
                      type: array
                    retryBehavior: {}
                    output:
                      type: object
                      properties:
                        type:
                          type: string
                          example: success
                        result:
                          type: boolean
                          example: true
                          default: true
            text/plain:
              examples:
                TaskScript exception failure with retries:
                  value: "{\n\t\"id\": \"b0b3e158-679d-49eb-840a-ae33c7300f2e\",\n\t\"orgSlug\": \"your_org\",\n\t\"pipelineId\": \"8592187a-d3ed-4410-8ffb-ee47826bebf7\",\n\t\"masterScriptNamespace\": \"private-your_org\",\n\t\"masterScriptSlug\": \"hg-prot-covid-data\",\n\t\"masterScriptVersion\": \"v2.1.0\",\n\t\"protocolSlug\": \"hg-prot-covid-data\",\n\t\"protocolVersion\": \"v2.1.0\",\n\t\"protocol\": {\n\t\t\"protocolSchema\": \"v2\",\n\t\t\"name\": \"HG Protocol COVID-JSON to IDS\",\n\t\t\"description\": \"\",\n\t\t\"steps\": [\n\t\t\t{\n\t\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\t\"description\": \"Generates COVID data row (IDS JSON) for each state.\",\n\t\t\t\t\"type\": \"generator\",\n\t\t\t\t\"script\": {\n\t\t\t\t\t\"namespace\": \"private-your_org\",\n\t\t\t\t\t\"slug\": \"hg-tscr-covid-data\",\n\t\t\t\t\t\"version\": \"v2.0.1\"\n\t\t\t\t},\n\t\t\t\t\"functionSlug\": \"main\"\n\t\t\t}\n\t\t],\n\t\t\"config\": [\n\t\t]\n\t},\n\t\"pipelineConfig\": {\n\t\t\"notificationsConfig\": {\n\t\t\t\"sendOnSuccessful\": true,\n\t\t\t\"sendOnFailed\": true,\n\t\t\t\"notificationEmailAddresses\": [\n\t\t\t\t\"example1@your_org.com\",\n\t\t\t\t\"example2@your_org.com\"\n\t\t\t]\n\t\t},\n\t\t\"pipelineName\": \"HG-Covid-Data\"\n\t},\n\t\"inputFile\": {\n\t\t\"meta\": {\n\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\"source\": {\n\t\t\t\t\"box\": {\n\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\"filePath\": \"/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t},\n\t\t\t\t\"type\": \"box\"\n\t\t\t},\n\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\"sourceType\": \"box\",\n\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\"integrationType\": \"box\"\n\t\t},\n\t\t\"type\": \"s3file\",\n\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\"customTags\": [\n\t\t],\n\t\t\"customMetadata\": {\n\t\t}\n\t},\n\t\"tasks\": [\n\t\t{\n\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\"input\": {\n\t\t\t\t\"input_file\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"source\": {\n\t\t\t\t\t\t\t\"box\": {\n\t\t\t\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\t\t\t\"filePath\": \"/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"type\": \"box\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\t\t\t\"sourceType\": \"box\",\n\t\t\t\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\"integrationType\": \"box\"\n\t\t\t\t\t},\n\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\t\t\t\"customTags\": [\n\t\t\t\t\t],\n\t\t\t\t\t\"customMetadata\": {\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"retry\": 3,\n\t\t\t\"events\": [\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:56:27.561+00:00\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:56:27.576+00:00\",\n\t\t\t\t\t\"status\": \"pending\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:56:27.586+00:00\",\n\t\t\t\t\t\"status\": \"in-progress\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:56:52.287+00:00\",\n\t\t\t\t\t\"status\": \"failed\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"output\": {\n\t\t\t\t\"type\": \"error\",\n\t\t\t\t\"result\": {\n\t\t\t\t\t\"message\": \"('Got a an error processing the data', 'My detailed info')\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"script\": {\n\t\t\t\t\"list\": [\n\t\t\t\t\t\"requirements.txt\",\n\t\t\t\t\t\"README-internal.md\",\n\t\t\t\t\t\"config.json\",\n\t\t\t\t\t\"README.md\",\n\t\t\t\t\t\"Pipfile\",\n\t\t\t\t\t\"main.py\",\n\t\t\t\t\t\"Pipfile.lock\",\n\t\t\t\t\t\"__test__/test_business_logic.py\",\n\t\t\t\t\t\"__test__/test_config.py\",\n\t\t\t\t\t\"__test__/test_integration.py\",\n\t\t\t\t\t\"__test__/__pycache__/test_business_logic.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_config.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_integration.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/data/expected.json\",\n\t\t\t\t\t\"__test__/data/input.json\",\n\t\t\t\t\t\"__pycache__/main.cpython-37.pyc\"\n\t\t\t\t],\n\t\t\t\t\"slug\": \"hg-tscr-covid-data\",\n\t\t\t\t\"docker\": {\n\t\t\t\t\t\"image\": \"706717599419.dkr.ecr.us-east-2.amazonaws.com/ts-platform-development-task-private-your_org-hg-tscr-covid-data@sha256:ad9de377108b54f55f764fc727ade2f6811bfb4d770556138b0d8ab53ff0ac53\"\n\t\t\t\t},\n\t\t\t\t\"version\": \"v2.0.1\",\n\t\t\t\t\"language\": \"python\",\n\t\t\t\t\"maxCount\": 30,\n\t\t\t\t\"createdAt\": \"2022-02-03T17:22:06.152Z\",\n\t\t\t\t\"functions\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"slug\": \"main\",\n\t\t\t\t\t\t\"function\": \"main.main\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"hasSource\": true,\n\t\t\t\t\"namespace\": \"private-your_org\",\n\t\t\t\t\"timestamp\": 1643908790410,\n\t\t\t\t\"runnerType\": \"ecs\",\n\t\t\t\t\"buildLogSaved\": true,\n\t\t\t\t\"buildDurationMs\": 70698\n\t\t\t},\n\t\t\t\"status\": \"failed\",\n\t\t\t\"taskId\": \"034f3bc6-7224-410a-b294-486c13244db6\",\n\t\t\t\"options\": {\n\t\t\t},\n\t\t\t\"createdAt\": \"2022-02-03T17:56:27.561+00:00\",\n\t\t\t\"containerId\": \"013bde9d-cd05-4fbd-8bbc-d567ec438729\",\n\t\t\t\"functionSlug\": \"main\",\n\t\t\t\"lastUpdatedAt\": \"2022-02-03T17:56:52.295+00:00\",\n\t\t\t\"taskMemoryInMB\": 512,\n\t\t\t\"cloudWatchUrl\": \"https://us-east-2.console.aws.amazon.com/cloudwatch/home?region=us-east-2#logs-insights:queryDetail=~(end~'2022-02-03T18*3a01*3a52.295Z~start~'2022-02-03T17*3a51*3a27.561Z~timeType~'ABSOLUTE~tz~'Local~editorString~'filter*20*60taskId*60*3d*27034f3bc6-7224-410a-b294-486c13244db6*27*20and*20*60containerId*60*3d*27013bde9d-cd05-4fbd-8bbc-d567ec438729*27*0a*7c*20fields*20*40timestamp*2c*20*40message*0a*7c*20sort*20*40timestamp*20asc~source~(~'*2fecs*2ftaskscripts*2fts-platform*2fcontainers))\"\n\t\t}\n\t],\n\t\"supersededTasks\": [\n\t\t{\n\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\"input\": {\n\t\t\t\t\"input_file\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"source\": {\n\t\t\t\t\t\t\t\"box\": {\n\t\t\t\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\t\t\t\"filePath\": \"/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"type\": \"box\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\t\t\t\"sourceType\": \"box\",\n\t\t\t\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\"integrationType\": \"box\"\n\t\t\t\t\t},\n\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\t\t\t\"customTags\": [\n\t\t\t\t\t],\n\t\t\t\t\t\"customMetadata\": {\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"retry\": 0,\n\t\t\t\"events\": [\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:55:12.817+00:00\",\n\t\t\t\t\t\"status\": \"pending\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:55:12.830+00:00\",\n\t\t\t\t\t\"status\": \"in-progress\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:55:37.587+00:00\",\n\t\t\t\t\t\"status\": \"failed\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"output\": {\n\t\t\t\t\"type\": \"error\",\n\t\t\t\t\"result\": {\n\t\t\t\t\t\"message\": \"('Got a an error processing the data', 'My detailed info')\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"script\": {\n\t\t\t\t\"list\": [\n\t\t\t\t\t\"requirements.txt\",\n\t\t\t\t\t\"README-internal.md\",\n\t\t\t\t\t\"config.json\",\n\t\t\t\t\t\"README.md\",\n\t\t\t\t\t\"Pipfile\",\n\t\t\t\t\t\"main.py\",\n\t\t\t\t\t\"Pipfile.lock\",\n\t\t\t\t\t\"__test__/test_business_logic.py\",\n\t\t\t\t\t\"__test__/test_config.py\",\n\t\t\t\t\t\"__test__/test_integration.py\",\n\t\t\t\t\t\"__test__/__pycache__/test_business_logic.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_config.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/__pycache__/test_integration.cpython-37.pyc\",\n\t\t\t\t\t\"__test__/data/expected.json\",\n\t\t\t\t\t\"__test__/data/input.json\",\n\t\t\t\t\t\"__pycache__/main.cpython-37.pyc\"\n\t\t\t\t],\n\t\t\t\t\"slug\": \"hg-tscr-covid-data\",\n\t\t\t\t\"docker\": {\n\t\t\t\t\t\"image\": \"706717599419.dkr.ecr.us-east-2.amazonaws.com/ts-platform-development-task-private-your_org-hg-tscr-covid-data@sha256:ad9de377108b54f55f764fc727ade2f6811bfb4d770556138b0d8ab53ff0ac53\"\n\t\t\t\t},\n\t\t\t\t\"version\": \"v2.0.1\",\n\t\t\t\t\"language\": \"python\",\n\t\t\t\t\"maxCount\": 30,\n\t\t\t\t\"createdAt\": \"2022-02-03T17:22:06.152Z\",\n\t\t\t\t\"functions\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"slug\": \"main\",\n\t\t\t\t\t\t\"function\": \"main.main\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"hasSource\": true,\n\t\t\t\t\"namespace\": \"private-your_org\",\n\t\t\t\t\"timestamp\": 1643908790410,\n\t\t\t\t\"runnerType\": \"ecs\",\n\t\t\t\t\"buildLogSaved\": true,\n\t\t\t\t\"buildDurationMs\": 70698\n\t\t\t},\n\t\t\t\"status\": \"failed\",\n\t\t\t\"taskId\": \"099610a8-aa59-413c-9902-be9d90482a8d\",\n\t\t\t\"options\": {\n\t\t\t},\n\t\t\t\"createdAt\": \"2022-02-03T17:55:12.800+00:00\",\n\t\t\t\"containerId\": \"013bde9d-cd05-4fbd-8bbc-d567ec438729\",\n\t\t\t\"functionSlug\": \"main\",\n\t\t\t\"lastUpdatedAt\": \"2022-02-03T17:55:37.591+00:00\",\n\t\t\t\"taskMemoryInMB\": 512\n\t\t},\n\t\t{\n\t\t\t\"slug\": \"first-step-covid-json-ids\",\n\t\t\t\"input\": {\n\t\t\t\t\"input_file\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"source\": {\n\t\t\t\t\t\t\t\"box\": {\n\t\t\t\t\t\t\t\t\"id\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\t\t\"size\": 2648411,\n\t\t\t\t\t\t\t\t\"filePath\": \"/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\t\t\t\"integrationSource\": \"4095be8f-40c6-487d-99ce-bef42682c36b\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"type\": \"box\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"traceId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\t\"sourceId\": \"4095be8f-40c6-487d-99ce-bef42682c36b\",\n\t\t\t\t\t\t\"sourceName\": \"HG-Box-Covid-Data-States\",\n\t\t\t\t\t\t\"sourceType\": \"box\",\n\t\t\t\t\t\t\"integrationId\": \"56d9293c-2dc7-4133-b21b-c1468aefb41f\",\n\t\t\t\t\t\t\"integrationType\": \"box\"\n\t\t\t\t\t},\n\t\t\t\t\t\"type\": \"s3file\",\n\t\t\t\t\t\"bucket\": \"ts-platform-dev-datalake\",\n\t\t\t\t\t\"fileId\": \"650bc88a-e90c-48c7-a349-65dcc756b0a4\",\n\t\t\t\t\t\"fileKey\": \"your_org/4095be8f-40c6-487d-99ce-bef42682c36b/RAW/All Files/your_org/coviddata/statesdata/covid_states_tseries_2021_12_09.json\",\n\t\t\t\t\t\"version\": \"YXWfnGtFnxXaRshIkphKpeIWjKM5YMrL\",\n\t\t\t\t\t\"customTags\": [\n\t\t\t\t\t],\n\t\t\t\t\t\"customMetadata\": {\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"retry\": 1,\n\t\t\t\"events\": [\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:55:37.648+00:00\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:55:37.662+00:00\",\n\t\t\t\t\t\"status\": \"pending\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:55:37.669+00:00\",\n\t\t\t\t\t\"status\": \"in-progress\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"at\": \"2022-02-03T17:56:02.538+00:00\",\n\t\t\t\t\
[...]
