openapi: 3.1.0
info:
  title: TetraScience Data and AI Cloud Access Groups databricks API
  version: '4.0'
  description: Programmatic access to the TetraScience Scientific Data and AI Platform — manage tenants, organizations, users, roles, agents, integrations, pipelines, files, datasets, schemas, and search across the Tetra Data Platform.
  contact:
    name: TetraScience
    url: https://www.tetrascience.com/
  license:
    name: Proprietary
servers:
- url: https://api.tetrascience.com
  description: Production Server
- url: https://api.tetrascience-uat.com
  description: User Acceptance Server
- url: https://api.tetrascience-dev.com
  description: Development Server
- url: https://api.tetrascience-uat.com
  description: User Acceptabce Server
- url: api.tetrascience.com
security:
- token: []
  orgSlug: []
- orgSlug: []
  tsAuthToken: []
tags:
- name: databricks
paths:
  /v1/pipeline/clusterPolicies/databricks:
    get:
      summary: List Databricks Cluster Policies
      description: Returns a list of platform-level Databricks cluster policies filtered by prefix 'ts-platform-policy-*'
      operationId: DL-FI-listDatabricksClusterPolicies
      tags:
      - databricks
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatabricksClusterPolicy'
        '400':
          $ref: '#/components/responses/400Any'
        '401':
          $ref: '#/components/responses/401Any'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
  /v1/pipeline/clusters/databricks:
    get:
      summary: List Databricks Clusters
      description: ''
      operationId: DL-FI-listDatabricksClusters
      tags:
      - databricks
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatabricksClusterObject'
        '401':
          $ref: '#/components/responses/401Any'
        '404':
          $ref: '#/components/responses/404Any'
components:
  schemas:
    DatabricksClusterPolicy:
      type: object
      required:
      - policyId
      - name
      properties:
        policyId:
          type: string
          description: Canonical unique identifier for the cluster policy
        name:
          type: string
          description: Display name of the cluster policy
        description:
          type: string
          description: Description of the cluster policy
    DatabricksClusterObject:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
  responses:
    401Any:
      description: Unauthorized
      content:
        application/json:
          schema: {}
          example:
            error: Unauthorized
            message: Missing authentication.
    400Any:
      description: Incorrect input provided
      content:
        application/json:
          schema: {}
          example:
            error: Bad Request
            message: Invalid parameters provided.
    404Any:
      description: Not found or not visible to user
      content:
        application/json:
          schema: {}
          example:
            error: Not Found
            message: Subscription not found
  securitySchemes:
    token:
      type: apiKey
      description: JWT Token for authentication
      in: header
      name: ts-auth-token
    orgSlug:
      type: apiKey
      description: Your organization slug
      in: header
      name: x-org-slug
    tsAuthToken:
      type: apiKey
      in: header
      name: ts-auth-token
