openapi: 3.1.0
info:
  title: TetraScience Data and AI Cloud API
  version: '4.0'
  description: Programmatic access to the TetraScience Scientific Data and AI Platform — manage tenants, organizations, users,
    roles, agents, integrations, pipelines, files, datasets, schemas, and search across the Tetra Data Platform.
  contact:
    name: TetraScience
    url: https://www.tetrascience.com/
  license:
    name: Proprietary
servers:
- url: https://api.tetrascience.com
  description: Production Server
- url: https://api.tetrascience-uat.com
  description: User Acceptance Server
- url: https://api.tetrascience-dev.com
  description: Development Server
- url: https://api.tetrascience-uat.com
  description: User Acceptabce Server
- url: api.tetrascience.com
security:
- token: []
  orgSlug: []
- orgSlug: []
  tsAuthToken: []
tags:
- name: Access Groups
- name: Agents
- name: Audit Trail
- name: Commands
- name: Connectors
- name: Data Acquisition
- name: Data App Providers
- name: Data Apps
- name: Edit Subscriptions
- name: Embedded Data Apps
- name: Hubs
- name: IDS
- name: Linked Data Apps
- name: Login
- name: Organizations
- name: Pipelines
- name: Protocols
- name: Requests
- name: Roles
- name: Task Scripts
- name: Tenants
- name: Users
- name: View Subscriptions
- name: ai-workflows
- name: clusters
- name: connectors
- name: databricks
- name: lakehouse
- name: schemas
- name: tetraflows
- name: tetraspheres
paths:
  /v1/commands:
    post:
      summary: Create command
      description: 'Use this endpoint to create a new command for an on-premises connector/agent. It also automatically sends
        command to SQS queue for execution. Once it is in the queue, the connector/agent listening on the target queue picks
        up the command,  tries to execute it, and sends the response back to the command service.

        The maximum create command request size is 10 MB.'
      tags:
      - Commands
      operationId: ag-create-command
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - targetId
              - action
              - expiresAt
              - payload
              properties:
                targetId:
                  type: string
                  description: Agent or Connector ID for which command should be created
                action:
                  type: string
                  description: Action label, such as `TetraScience.Connector.sdc.CreateMeasurementOrder`
                expiresAt:
                  type: string
                  description: Command expiration time (ISO timestamp). Must be at least 60 seconds from the current time.
                  default: '2021-01-31T23:58:43.749Z'
                metadata:
                  type: object
                  description: Metadata key-value pairs
                  additionalProperties: true
                payload:
                  type: object
                  description: Request body for the command
                  additionalProperties: true
                payloadDelivery:
                  type: string
                  description: The delivery method for the command payload. When "embedded" is specified the command body
                    is  included in the SQS message payload. When "referenced" is specified the command body is stored in
                    S3 and only  a reference to the S3 object is included in the SQS message payload. In case no value is
                    passed and payload  is small enough to be transferred over SQS "embedded" is used, otherwise "referenced"
                    is used.
                  enum:
                  - embedded
                  - referenced
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"id\": \"7992e5d6-15bf-4f5b-af06-47f3380ca75a\",\n    \"orgSlug\": \"tetrascience\",\n \
                    \   \"targetId\": \"b143e7c5-90ae-4b69-895a-decf0b1dfb38\",\n    \"action\": \"TetraScience.Connector.gdc.HttpRequest\"\
                    ,\n    \"expiresAt\": \"2021-01-31T23:58:43.749Z\",\n    \"metadata\": {},\n    \"status\": \"PENDING\"\
                    ,\n    \"requestBody\": {\n        \"body\": {\n            \"url\": \"https://sdc.test.com:9005/SDC/Smartreports/ExportedMeasurements\"\
                    ,\n            \"body\": {\n                \"raw\": \"{\\\"InterfaceId\\\":\\\"1\\\",\\\"LastInterfaceResultId\\\
                    \":\\\"0\\\"}\",\n                \"mode\": \"raw\"\n            },\n            \"method\": \"POST\"\
                    ,\n            \"headers\": [\n                {\n                    \"Authorization\": \"Basic ...\"\
                    \n                },\n                {\n                    \"Content-Type\": \"application/json\"\n\
                    \                }\n            ],\n            \"ignore_tls_certificate\": true\n        },\n       \
                    \ \"action\": \"TetraScience.Connector.gdc.HttpRequest\",\n        \"targetId\": \"b143e7c5-90ae-4b69-895a-decf0b1dfb38\"\
                    ,\n        \"commandId\": \"7992e5d6-15bf-4f5b-af06-47f3380ca75a\",\n        \"createdAt\": \"2021-01-20T10:25:02.807Z\"\
                    ,\n        \"expiresAt\": \"2021-01-31T23:58:43.749Z\"\n    },\n    \"responseBody\": null,\n    \"requestPayloadDelivery\"\
                    : \"embedded\",\n    \"createdByEntity\": \"user\",\n    \"createdBy\": \"59eb8bd4-8b10-43b3-ac57-fe3ab86c05fd\"\
                    ,\n    \"createdAt\": \"2021-01-20T10:25:02.807Z\",\n    \"updatedAt\": \"2021-01-20T10:25:02.872Z\"\n\
                    }"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 7992e5d6-15bf-4f5b-af06-47f3380ca75a
                  orgSlug:
                    type: string
                    example: tetrascience
                  targetId:
                    type: string
                    example: b143e7c5-90ae-4b69-895a-decf0b1dfb38
                  action:
                    type: string
                    example: TetraScience.Connector.gdc.HttpRequest
                  expiresAt:
                    type: string
                    example: '2021-01-31T23:58:43.749Z'
                  metadata:
                    type: object
                    properties: {}
                  status:
                    type: string
                    example: PENDING
                  requestBody:
                    type: object
                    properties:
                      body:
                        type: object
                        properties:
                          url:
                            type: string
                            example: https://sdc.test.com:9005/SDC/Smartreports/ExportedMeasurements
                          body:
                            type: object
                            properties:
                              raw:
                                type: string
                                example: '{"InterfaceId":"1","LastInterfaceResultId":"0"}'
                              mode:
                                type: string
                                example: raw
                          method:
                            type: string
                            example: POST
                          headers:
                            type: array
                            items:
                              type: object
                              properties:
                                Authorization:
                                  type: string
                                  example: Basic ...
                          ignore_tls_certificate:
                            type: boolean
                            example: true
                            default: true
                      action:
                        type: string
                        example: TetraScience.Connector.gdc.HttpRequest
                      targetId:
                        type: string
                        example: b143e7c5-90ae-4b69-895a-decf0b1dfb38
                      commandId:
                        type: string
                        example: 7992e5d6-15bf-4f5b-af06-47f3380ca75a
                      createdAt:
                        type: string
                        example: '2021-01-20T10:25:02.807Z'
                      expiresAt:
                        type: string
                        example: '2021-01-31T23:58:43.749Z'
                  responseBody: {}
                  requestPayloadDelivery:
                    type: string
                    enum:
                    - embedded
                    - referenced
                    example: embedded
                  createdByEntity:
                    type: string
                    example: user
                  createdBy:
                    type: string
                    example: 59eb8bd4-8b10-43b3-ac57-fe3ab86c05fd
                  createdAt:
                    type: string
                    example: '2021-01-20T10:25:02.807Z'
                  updatedAt:
                    type: string
                    example: '2021-01-20T10:25:02.872Z'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"statusCode\": 400,\n    \"error\": \"Bad request\",\n    \"message\": \"Queue is purging\
                    \ and cannot accept new requests. Please try again later\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    statusCode:
                      type: integer
                      example: 400
                      default: 0
                    error:
                      type: string
                      example: Bad request
                    message:
                      type: string
                      example: Command request payload is larger than maximum size of 10 MB.
                - type: object
                  properties:
                    statusCode:
                      type: integer
                      example: 400
                      default: 0
                    error:
                      type: string
                      example: Bad Request
                    message:
                      type: string
                      example: Error validating metadata. Metadata must contain only string with ASCII characters.
                - type: object
                  properties:
                    statusCode:
                      type: integer
                      example: 400
                      default: 0
                    error:
                      type: string
                      example: Bad request
                    message:
                      type: string
                      example: Param expiresAt must be at least 60 seconds from current date timestamp
                - type: object
                  properties:
                    statusCode:
                      type: integer
                      example: 400
                      default: 0
                    error:
                      type: string
                      example: Bad request
                    message:
                      type: string
                      example: Queue is purging and cannot accept new requests. Please try again later
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"statusCode\": 500,\n    \"error\": \"Internal Server Error\",\n    \"message\": \"An internal\
                    \ server error occurred\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                    default: 0
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An internal server error occurred
      deprecated: false
    delete:
      summary: Purge queue
      description: Use this method to purge all existing commands from the target queue. This command can be useful when testing
        new pipelines and command creation and the queue is blocked by a large number of unexecuted commands. When you fire
        this endpoint, all commands are deleted from the queue, and the command status is changed to PURGED.  Also, during
        the purge, the queue for the given target is blocked and does not receive new commands.
      tags:
      - Commands
      operationId: ag-purge-queue
      parameters:
      - name: targetId
        in: query
        description: Agent or connector ID for which queue should be purged
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"purged\": [{\n      \"commandId\": \"cd0ce1e2-c0f1-47c1-9da9-feaa10cfe7eb\"\n    },{\n\
                    \      \"commandId\": \"39ead9af-2926-4800-9d11-a3895de495e8\"\n    }]\n}"
              schema:
                type: object
                properties:
                  purged:
                    type: array
                    items:
                      type: object
                      properties:
                        commandId:
                          type: string
                          example: cd0ce1e2-c0f1-47c1-9da9-feaa10cfe7eb
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"statusCode\": 400,\n    \"error\": \"Bad request\",\n    \"message\": \"Queue is already\
                    \ purging. Please try later.\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                    default: 0
                  error:
                    type: string
                    example: Bad request
                  message:
                    type: string
                    example: Queue is already purging. Please try later.
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"statusCode\": 500,\n    \"error\": \"Internal Server Error\",\n    \"message\": \"An internal\
                    \ server error occurred\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                    default: 0
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An internal server error occurred
      deprecated: false
    get:
      summary: Search commands
      description: Use this endpoint to search all on-premises commands based on various filters. This endpoint is useful
        when you want to filter out commands, get all successful, or unsuccessful commands, get all commands that are sent
        to some agent/connector, commands that are created within a certain time range and more.
      tags:
      - Commands
      operationId: ag-search-commands
      parameters:
      - name: targetId
        in: query
        description: ID of the target that received and processed command(s). Supports one or more values, such as `targetId=71003689-9619-43aa-809a-a693ede72e8b&targetId=740b1e83-eaf0-4e03-b134-97fb575a8c4c`
        schema:
          type: string
      - name: action
        in: query
        description: Action label, such as TetraScience.Connector.sdc.CreateMeasurementOrder.  Supports one or more values,
          such as  `action=TetraScience.Connector.sdc.CreateMeasurementOrder&action=TetraScience.Connector.ValidateConfig`
        schema:
          type: string
      - name: status
        in: query
        description: 'Command status: CREATED, UNSENT, PENDING, EXPIRED, PURGED, ERROR, PROCESSING, REJECTED, SUCCESS, FAILURE.
          Supports one or more values, such as  `status=FAILURE&status=SUCCESS`'
        schema:
          type: string
      - name: fromDate
        in: query
        description: Deprecated name for `createdAtAfter`
        schema:
          type: string
      - name: toDate
        in: query
        description: Deprecated name for `createdAtBefore`
        schema:
          type: string
      - name: createdAtBefore
        in: query
        description: Commands created on or before a given date (ISO timestamp)
        schema:
          type: string
      - name: createdAtAfter
        in: query
        description: Commands created on or after a given date (ISO timestamp)
        schema:
          type: string
      - name: expiresAtBefore
        in: query
        description: Commands expiring on or before a given date (ISO timestamp)
        schema:
          type: string
      - name: expiresAtAfter
        in: query
        description: Commands expiring on or after a given date (ISO timestamp)
        schema:
          type: string
      - name: updatedAtBefore
        in: query
        description: Commands updated on or before a given date (ISO timestamp)
        schema:
          type: string
      - name: updatedAtAfter
        in: query
        description: Commands updated on or after a given date (ISO timestamp)
        schema:
          type: string
      - name: from
        in: query
        description: Display commands started from specified number in the results array.  By default, commands are displayed
          from the start of the array (the number 0).  This parameter is included if the result set is large, pagination might
          be required.   This parameter is typically used in conjunction with size.
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        description: Indicates the number of results to return in the request.  This parameter is included if the result set
          is large, pagination might be required.   This parameter is typically used in conjunction with from.
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'Sort field: createdAt | updatedAt | expiresAt.'
        schema:
          type: string
      - name: sort
        in: query
        description: 'Sort order: asc | desc'
        schema:
          type: string
      - name: metadata
        in: query
        description: Metadata key-value pairs, such as metadata.vendor=tetra. Pairs must be exact matches of existing metadata
          values.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"hits\": [\n    {\n      \"id\": \"013cf44b-e3ef-4757-84c2-ff19a133c955\",\n      \"orgSlug\"\
                    : \"mgtest\",\n      \"targetId\": \"d7f4c013-26c3-4214-ae6c-f14467ad6848\",\n      \"action\": \"TetraScience.Connector.gdc.HttpRequest\"\
                    ,\n      \"expiresAt\": \"2021-01-10T23:58:43.749Z\",\n      \"metadata\": {\n        \"key1\": \"value1\"\
                    ,\n        \"key2\": \"value2\"\n      },\n      \"status\": \"SUCCESS\",\n      \"requestBody\": {\n\
                    \        \"body\": {\n          \"url\": \"https://jsonplaceholder.typicode.com/posts\",\n          \"\
                    body\": {\n            \"raw\": \"{ \\\"title\\\": \\\"foo\\\", \\\"body\\\": \\\"bar\\\", \\\"userId\\\
                    \": 1 }\",\n            \"mode\": \"raw\"\n          },\n          \"method\": \"POST\",\n          \"\
                    headers\": [],\n          \"ignore_tls_certificate\": true\n        },\n        \"action\": \"TetraScience.Connector.gdc.HttpRequest\"\
                    ,\n        \"targetId\": \"d7f4c013-26c3-4214-ae6c-f14467ad6848\",\n        \"commandId\": \"013cf44b-e3ef-4757-84c2-ff19a133c955\"\
                    ,\n        \"createdAt\": \"2021-01-08T23:32:31.456Z\",\n        \"expiresAt\": \"2021-01-10T23:58:43.749Z\"\
                    \n      },\n      \"responseBody\": {\n        \"body\": \"{\\\"title\\\":\\\"foo\\\",\\\"body\\\":\\\"\
                    bar\\\",\\\"userId\\\":1,\\\"id\\\":101}\",\n        \"headers\": [\n          {\n            \"date\"\
                    : \"Fri, 08 Jan 2021 23:32:33 GMT\"\n          },\n          {\n            \"content-type\": \"application/json;\
                    \ charset=utf-8\"\n          },\n          {\n            \"content-length\": \"65\"\n          },\n \
                    \         {\n            \"connection\": \"close\"\n          },\n          {\n            \"set-cookie\"\
                    : [\n              \"__cfduid=d97d344facc0f82adc186946039b275d91610148753; expires=Sun, 07-Feb-21 23:32:33\
                    \ GMT; path=/; domain=.typicode.com; HttpOnly; SameSite=Lax\"\n            ]\n          },\n         \
                    \ {\n            \"x-powered-by\": \"Express\"\n          },\n          {\n            \"x-ratelimit-limit\"\
                    : \"1000\"\n          },\n          {\n            \"x-ratelimit-remaining\": \"999\"\n          },\n\
                    \          {\n            \"x-ratelimit-reset\": \"1610148757\"\n          },\n          {\n         \
                    \   \"vary\": \"Origin, X-HTTP-Method-Override, Accept-Encoding\"\n          },\n          {\n       \
                    \     \"access-control-allow-credentials\": \"true\"\n          },\n          {\n            \"cache-control\"\
                    : \"no-cache\"\n          },\n          {\n            \"pragma\": \"no-cache\"\n          },\n      \
                    \    {\n            \"expires\": \"-1\"\n          },\n          {\n            \"access-control-expose-headers\"\
                    : \"Location\"\n          },\n          {\n            \"location\": \"http://jsonplaceholder.typicode.com/posts/101\"\
                    \n          },\n          {\n            \"x-content-type-options\": \"nosniff\"\n          },\n     \
                    \     {\n            \"etag\": \"W/\\\"41-GDNaWfnVU6RZhpLbye0veBaqcHA\\\"\"\n          },\n          {\n\
                    \            \"via\": \"1.1 vegur\"\n          },\n          {\n            \"cf-cache-status\": \"DYNAMIC\"\
                    \n          },\n          {\n            \"cf-request-id\": \"0785f147a40000c2c743215000000001\"\n   \
                    \       },\n          {\n            \"expect-ct\": \"max-age=604800, report-uri=\\\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\\\
                    \"\"\n          },\n          {\n            \"report-to\": \"{\\\"endpoints\\\":[{\\\"url\\\":\\\"https:\\\
                    /\\/a.nel.cloudflare.com\\/report?s=YgiQkNmS0T9r5VNVT7lxY1UOFzqBlOObjIXH5rv5JQuqlQMNpSffc6TdpWXDfXXzBc6PYQcNe7mDBE58luZcL5QssEmJ9BT8GBlVowE9UPNrYlbhbuOF5tSY3QIO\\\
                    \"}],\\\"group\\\":\\\"cf-nel\\\",\\\"max_age\\\":604800}\"\n          },\n          {\n            \"\
                    nel\": \"{\\\"report_to\\\":\\\"cf-nel\\\",\\\"max_age\\\":604800}\"\n          },\n          {\n    \
                    \        \"server\": \"cloudflare\"\n          },\n          {\n            \"cf-ray\": \"60e9b7ec3c79c2c7-FRA\"\
                    \n          }\n        ],\n        \"statusCode\": 201\n      },\n      \"requestPayloadDelivery\": \"\
                    embedded\",\n      \"createdByEntity\": \"user\",\n      \"createdBy\": \"59eb8bd4-8b10-43b3-ac57-fe3ab86c05fd\"\
                    ,\n      \"createdAt\": \"2021-01-08T23:32:31.456Z\",\n      \"updatedAt\": \"2021-01-08T23:32:34.219Z\"\
                    \n    }\n  ],\n  \"hasNext\": false,\n  \"from\": 0,\n  \"size\": 100,\n  \"sort\": \"desc\"\n}"
              schema:
                type: object
                properties:
                  hits:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 013cf44b-e3ef-4757-84c2-ff19a133c955
                        orgSlug:
                          type: string
                          example: mgtest
                        targetId:
                          type: string
                          example: d7f4c013-26c3-4214-ae6c-f14467ad6848
                        action:
                          type: string
                          example: TetraScience.Connector.gdc.HttpRequest
                        expiresAt:
                          type: string
                          example: '2021-01-10T23:58:43.749Z'
                        metadata:
                          type: object
                          properties:
                            key1:
                              type: string
                              example: value1
                            key2:
                              type: string
                              example: value2
                        status:
                          type: string
                          example: SUCCESS
                        requestBody:
                          type: object
                          properties:
                            body:
                              type: object
                              properties:
                                url:
                                  type: string
                                  example: https://jsonplaceholder.typicode.com/posts
                                body:
                                  type: object
                                  properties:
                                    raw:
                                      type: string
                                      example: '{ "title": "foo", "body": "bar", "userId": 1 }'
                                    mode:
                                      type: string
                                      example: raw
                                method:
                                  type: string
                                  example: POST
                                headers:
                                  type: array
                                ignore_tls_certificate:
                                  type: boolean
                                  example: true
                                  default: true
                            action:
                              type: string
                              example: TetraScience.Connector.gdc.HttpRequest
                            targetId:
                              type: string
                              example: d7f4c013-26c3-4214-ae6c-f14467ad6848
                            commandId:
                              type: string
                              example: 013cf44b-e3ef-4757-84c2-ff19a133c955
                            createdAt:
                              type: string
                              example: '2021-01-08T23:32:31.456Z'
                            expiresAt:
                              type: string
                              example: '2021-01-10T23:58:43.749Z'
                        responseBody:
                          type: object
                          properties:
                            body:
                              type: string
                              example: '{"title":"foo","body":"bar","userId":1,"id":101}'
                            headers:
                              type: array
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                    example: Fri, 08 Jan 2021 23:32:33 GMT
                            statusCode:
                              type: integer
                              example: 201
                              default: 0
                        requestPayloadDelivery:
                          type: string
                          enum:
                          - embedded
                          - referenced
                          example: embedded
                        createdByEntity:
                          type: string
                          example: user
                        createdBy:
                          type: string
                          example: 59eb8bd4-8b10-43b3-ac57-fe3ab86c05fd
                        createdAt:
                          type: string
                          example: '2021-01-08T23:32:31.456Z'
                        updatedAt:
                          type: string
                          example: '2021-01-08T23:32:34.219Z'
                  hasNext:
                    type: boolean
                    example: false
                    default: true
                  from:
                    type: integer
                    example: 0
                    default: 0
                  size:
                    type: integer
                    example: 100
                    default: 0
                  sort:
                    type: string
                    example: desc
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"statusCode\": 500,\n    \"error\": \"Internal Server Error\",\n    \"message\": \"An internal\
                    \ server error occurred\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                    default: 0
                  error:
                    type: string
                    example: Internal Server Error
                  message:
                    type: string
                    example: An internal server error occurred
      deprecated: false
  /v1/agents/{agentId}/command-queue:
    put:
      description: Use this endpoint to enable or disable the command queue of an agent.
      summary: Enable or disable command queue.
      operationId: agent-command-queue-enable
      tags:
      - Agents
      parameters:
      - in: path
        name: agentId
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the agent.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  description: Enable or disable the command queue for the agent
                  type: boolean
              required:
              - enabled
      responses:
        '200':
          description: Successful response with updated command queue details
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    example: true
                    description: Indicates whether the command queue is enabled.
                  name:
                    type: string
                    example: https://sqs.us-east-2.amazonaws.com/706717599419/onprem-9b9f275c-a60d-454f-8c6c-1ea094e3fd38.fifo
                    description: The URL of the command queue. It is returned only for an enabled queue.
                  visibilityTimeout:
                    type: integer
                    example: 600
                    description: The visibility timeout for messages in the command queue. It is returned only for an enabled
                      queue.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                    description: The HTTP status code.
                  error:
                    type: string
                    example: Bad Request
                    description: A short description of the error.
                  message:
                    type: string
                    example: Can not enable command queue within 60s after disabling the command queue.
                    description: Additional details about the error.
    get:
      summary: Get command queue
      description: Use this endpoint to get details about the command queue of an agent
      tags:
      - Agents
      operationId: agent-command-queue-get
      parameters:
      - in: path
        name: agentId
        required: true
        description: The ID of the agent
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response with command queue details
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    example: true
                    description: Indicates whether the command queue is enabled or not.
                  name:
                    type: string
                    example: https://sqs.us-east-2.amazonaws.com/706717599419/onprem-9b9f275c-a60d-454f-8c6c-1ea094e3fd38.fifo
                    description: The URL of the command queue. It is returned only for an enabled queue.
                  visibilityTimeout:
                    type: integer
                    example: 600
                    description: The visibility timeout for messages in the command queue. It is returned only for an enabled
                      queue.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Error validating payload
                  validation:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: agentId must be a valid GUID
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: Agent with id 9b9f275c-a60d-454f-8c6c-1ea094e3fd37 not found
  /v1/agents:
    post:
      summary: Create an agent
      description: Use this endpoint to create a new agent.
      tags:
      - Agents
      operationId: agent-create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - type
              - integrationType
              - integrationId
              properties:
                name:
                  type: string
                  description: 'Name of the new agent. Validation: It may contain any alphanumeric character, spaces, and
                    the following special characters, `-`, `_`, `+`, `.`, `/`.'
                  example: Agent name
                description:
                  type: string
                  description: Description of the new agent. It may contain any alphanumeric character, spaces, line breaks,
                    and the following special characters, `-`, `_`, `+`, `.`, `/`.
                  example: Agent description
                type:
                  type: string
                  description: Type of the new agent. The valid types are `file-log`, `empower`, `unicorn`, `labx`, `chromeleon`
                    or `user-defined`.
                  enum:
                  - file-log
                  - empower
                  - unicorn
                  - labx
                  - chromeleon
                  - user-defined
                  example: file-log
                sourceType:
                  type: string
                  description: Source Type of a user-defined agent. For a user-defined agent, it may contain any lower-case
                    alphanumeric character, spaces, and the following special characters, `-`, `_`, `+`, `.`, `/`. However,
                    a space can't be the first character. For other agent types it must be empty, null or not present
                  example: ''
                integrationType:
                  type: string
                  description: New agent's integration type. The valid types are `api` or `datahub`.
                  enum:
                  - api
                  - datahub
                integrationId:
                  type: string
                  description: Id of the connector to be used by the new agent, in GUID format
                  example: 6f166302-df8a-4044-ab4b-7ddd3eefb50b
                  format: uuid
                datahubId:
                  type: string
                  description: Id of the Data Hub the new agent is using, in GUID format. It is required for integrations
                    of type 'datahub'. It must be set to null, empty, or not present for integrations of type 'api'.
                  format: uuid
                  example: null
                tags:
                  type: array
                  items:
                    type: string
                  example:
                  - tag1
                  description: Tags to associate with the agent.
                metadata:
                  type: object
                  additionalProperties: true
                  example:
                    metadataKey: metadataValue
                  description: Metadata to associate with the agent.
                labels:
                  type: object
                  properties:
                    labelsToAdd:
                      description: Labels to add the agent
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            maxLength: 128
                            example: labelKey
                          value:
                            type: string
                            example: labelValue
                        required:
                        - name
                        - value
                  required:
                  - labelsToAdd
                  description: Labels to associate with the agent
      responses:
        '200':
          description: Successful response with agent details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 9b9f275c-a60d-454f-8c6c-1ea094e3fd38
                    format: uuid
                    description: The ID of the agent.
                  name:
                    type: string
                    example: File-Log Agent
                    description: The name of the agent.
                  description:
                    type: string
                    example: description
                    description: The description of the agent.
                  sourceType:
                    type: string
                    nullable: true
                    description: The source type of the agent (nullable).
                  type:
                    type: string
                    example: file-log
                    description: The type of agent.
                  integrationType:
                    type: string
                    example: api
                    description: The integration type of the agent.
                  integrationId:
                    type: string
                    example: 6f166302-df8a-4044-ab4b-7ddd3eefb50b
                    format: uuid
                    description: The integration ID of the agent.
                  datahubId:
                    type: string
                    format: uuid
                    nullable: true
                    description: The Data Hub ID of the agent (nullable).
                  sourceId:
                    type: string
                    example: 9201d7a7-2282-4ef2-b295-a1d1d1927b9a
                    format: uuid
                    description: The source ID of the agent.
                  isEnabled:
                    type: boolean
                    example: true
                    description: Indicates if the agent is enabled or not.
                  tags:
                    type: array
                    items:
                      type: string
                    example:
                    - tag1
                    description: Tags associated with the agent.
                  metadata:
                    type: object
                    additionalProperties: true
                    example: null
                    description: Metadata associated with the agent.
                  config:
                    $ref: '#/components/schemas/FLAConfiguration'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    format: int32
                    example: 400
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Error validating payload
                  validation:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: '"datahubId" is required'
    get:
      summary: Get agents
      description: Use this endpoint to get a list of agents.
      tags:
      - Agents
      operationId: agents-get
      parameters:
      - name: include
        in: query
        description: Each agent returned will include its associated labels when the value is 'labels'. Otherwise this parameter
          is ignored
        schema:
          type: string
        example: labels
      responses:
        '200':
          description: Successful response with a list of all agents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/paths/~1v1~1agents~1{agentId}/get/responses/200/content/application~1json/schema'
  /v1/agents/{agentId}/enabled:
    put:
      summary: Enable or disable an agent
      description: Use this endpoint to enable or disable an agent
      tags:
      - Agents
      operationId: agent-enable
      parameters:
      - in: path
        name: agentId
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the agent.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  description: Enable or disable the the agent
                  type: boolean
              required:
              - enabled
      responses:
        '200':
          description: Agent isEnabled property updated successfully
          content:
            application/json:
              schema:
                type: object
              example: {}
  /v1/agents/{agentId}/configuration/list:
    get:
      summary: Get File-Log agent configuration list
      description: Use this endpoint to get the past configurations of a File-Log agent
      tags:
      - Agents
      operationId: agent-get-configuration-list
      parameters:
      - name: agentId
        in: path
        description: Agent ID
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          minimum: 0
          default: 1
        allowEmptyValue: false
      - name: size
        in: query
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          default: 10
        allowEmptyValue: false
      - name: by
        in: query
        description: Filter by agent config type
        schema:
          type: string
          enum:
          - local
          - cloud
          - all
          default: all
        allowEmptyValue: false
      - name: status
        in: query
        description: Filter by agent config by its command status
        schema:
          type: string
          enum:
          - CREATED
          - UNSENT
          - PENDING
          - PURGED
          - ERROR
          - PROCESSING
          - REJECTED
          - SUCCESS
          - FAILURE
          - all
          default: all
        allowEmptyValue: false
      - name: order
        in: query
        description: Sorting order by creation date
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        allowEmptyValue: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                  size:
                    type: integer
                    example: 10
                  hasNext:
                    type: boolean
                    example: true
                  hits:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentConfiguration'
  /v1/agents/{agentId}/configuration:
    get:
      summary: Get File-Log agent configuration
      description: Use this endpoint to get the latest configuration, of the type requested, of a File Log Agent
      tags:
      - Agents
      operationId: agent-get-configuration
      parameters:
      - name: agentId
        in: path
        description: Agent ID
        schema:
          type: string
        required: true
      - name: type
        in: query
        description: Type of the configuration to be returned, 'cloud' or 'local'. If the parameter is not provided, The endpoint
          will default to 'local' type.
        schema:
          type: string
          enum:
          - local
          - cloud
        required: false
      responses:
        '200':
          description: Successful response with the latest agent configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConfiguration'
    post:
      summary: Remotely configure a running File-Log agent
      description: '-| This endpoint allows configuration of a running File-Log Agent with paths.  The File-Log Agent must
        be version 4.1.0 or greater, and configured to Receive Commands. Additionally, the Command Queue must be enabled for
        this Agent on TDP.

        This will remove any paths not included in the JSON. To preserve existing paths, you must include them each time you
        POST.

        If the target''s command queue doesn''t exist or is not accessible, the API will return a 400 error code and doesn''t
        create the command.

        For more details, see https://developers.tetrascience.com/docs/configuring-the-file-log-agent-in-the-cloud.'
      tags:
      - Agents
      operationId: agent-post-configuration
      parameters:
      - name: agentId
        in: path
        description: Agent ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_id:
                  type: string
                  format: uuid
                  description: '**FLA v4.3.0+**: The Destination Id of the Agent'
                  example: 2e72c40f-432e-46a9-a027-e70686e8cd39
                services_enabled:
                  type: array
                  items:
                    type: string
                    enum:
                    - fileWatcher
                  description: The services enabled for the Agent
                  example:
                  - fileWatcher
                services_configuration:
                  type: object
                  properties:
                    fileWatcher:
                      type: object
                      properties:
                        use_path_configuration:
                          type: boolean
                          description: Whether to use path level configuration for start date and interval.  Must be set to
                            true.
                          example: true
                        paths:
                          type: array
                          items:
                            $ref: '#/components/schemas/FLAFileWatcherPathConfigurationItem'
                      required:
                      - use_path_configuration
                  required:
                  - fileWatcher
              required:
              - services_enabled
              - services_configuration
      responses:
        '200':
          description: Successful response with the id to the command that executed the update
          content:
            application/json:
              examples:
                Result:
                  value:
                    commandId: 729dec7d-26f6-4ac2-b1c0-2ae918e270dc
              schema:
                type: object
                properties:
                  commandId:
                    type: string
                    example: 729dec7d-26f6-4ac2-b1c0-2ae918e270dc
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Agent is Offline:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: Cloud configuration is supported only by Online agents
                Queue is not created or inaccessible:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: Queue for target id 729dec7d-26f6-4ac2-b1c0-2ae918e270dc not found or was not writeable. If you
                      see this message in error, please try disabling and re-enabling the queue.
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                    default: 0
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Cloud configuration is supported only by Online agents
        '404':
          description: Agent not found
          content:
            application/json:
              examples:
                Result:
                  value:
                    statusCode: 404
                    error: Not Found
                    message: Agent with id 47ab98d5-cccb-4a7d-86f4-0ff8f7c11bda not found
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                    default: 0
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: Agent with id 47ab98d5-cccb-4a7d-86f4-0ff8f7c11bda not found
  /v1/agents/{agentId}:
    get:
      summary: Get agent
      description: Use this endpoint to get the details of a single agent.
      operationId: agent-get
      tags:
      - Agents
      parameters:
      - in: path
        name: agentId
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the agent.
      responses:
        '200':
          description: Successful response with agent details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 9b9f275c-a60d-454f-8c6c-1ea094e3fd38
                    format: uuid
                    description: The unique identifier of the agent.
                  name:
                    type: string
                    example: FLA Agent
                    description: The name of the agent.
                  description:
                    type: string
                    example: description
                    description: The description of the agent.
                  sourceType:
                    type: string
                    nullable: true
                    description: The source type of the agent (nullable).
                  type:
                    type: string
                    example: file-log
                    description: The type of the agent.
                  integrationType:
                    type: string
                    example: api
                    description: The integration type of the agent.
                  integrationId:
                    type: string
                    example: 6f166302-df8a-4044-ab4b-7ddd3eefb50b
                    format: uuid
                    description: The integration ID of the agent.
                  datahubId:
                    type: string
                    nullable: true
                    format: uuid
                    description: The Data Hub ID of the agent (nullable).
                  sourceId:
                    type: string
                    example: 9201d7a7-2282-4ef2-b295-a1d1d1927b9a
                    description: The source ID of the agent.
                    format: uuid
                  isEnabled:
                    type: boolean
                    example: true
                    description: Indicates whether the agent is enabled.
                  tags:
                    type: array
                    items:
                      type: string
                    example:
                    - tag1
                    description: Tags associated with the agent.
                  metadata:
                    type: object
                    additionalProperties: true
                    example:
                      metadataKey: metadataValue
                    description: Metadata associated with the agent.
                  labels:
                    type: array
                    description: Labels associated with the agent
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The label name
                          example: vendor
                        value:
                          type: string
                          description: The label value
                          example: Beckman Coulter
                      required:
                      - name
                      - value
                  config:
                    $ref: '#/components/schemas/FLAConfiguration'
                  configStatus:
                    type: string
                    example: SUCCESS
                    description: Agent configuration status of a File-Log agent, null otherwise.
                  configStatusUpdatedAt:
                    type: string
                    format: date-time
                    example: '2023-08-28T14:43:59.753Z'
                    description: Timestamp when configuration status was updated.
                  configStatusError:
                    type: string
                    nullable: true
                    description: Configuration status error message of a File-Log agent, null otherwise.
                  configChangedBy:
                    type: string
                    example: local
                    description: User who changed the configuration of a File-Log agent, null otherwise.
                  configChangedAt:
                    type: string
                    format: date-time
                    example: '2023-09-05T16:25:01.697Z'
                    description: Timestamp when configuration of a File-Log agent was changed, null otherwise.
                  createdAt:
                    type: string
                    format: date-time
                    example: '2023-04-04T14:01:30.136Z'
                    description: Timestamp when the agent was created.
                  updatedAt:
                    type: string
                    format: date-time
                    example: '2023-10-10T16:29:08.573Z'
                    description: Timestamp when the agent was last updated.
                  orgSlug:
                    type: string
                    example: tetrascience
                    description: Organization slug.
                  status:
                    type: string
                    example: Online
                    description: The status of the agent.
                  version:
                    type: string
                    example: v4.3.1
                    description: The version of the agent.
                  liveType:
                    type: string
                    example: file-log
                    description: Type reported by the agent to the platform.
                  host:
                    type: object
                    properties:
                      ip:
                        type: string
                        example: 10.60.4.128
                        description: The IP address of the agent host.
                      name:
                        type: string
                        example: EC2AMAZ-53HU01M
                        description: The name of the agent host.
                    description: Information about the machine that the agent is running on.
                  queue:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        example: true
                        description: Indicates whether the command queue is enabled.
                      name:
                        type: string
                        example: https://sqs.us-east-2.amazonaws.com/706717599419/onprem-9b9f275c-a60d-454f-8c6c-1ea094e3fd38.fifo
                        description: The URL of the command queue. It is returned only for an enabled queue.
                      visibilityTimeout:
                        type: integer
                        example: 600
                        description: The visibility timeout for messages in the command queue. It is returned only for an
                          enabled queue.
                    description: Information about the command queue.
                description: Agent status and configuration information.
    put:
      summary: Update an agent
      description: Use this endpoint to update a single agent
      operationId: agent-update
      tags:
      - Agents
      parameters:
      - in: path
        name: agentId
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the agent.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - type
              - integrationType
              - integrationId
              properties:
                name:
                  type: string
                  description: 'Updated name of the agent. Validation: It may contain any alphanumeric character, spaces,
                    and the characters - _ + . /'
                description:
                  type: string
                  description: Updated description of the agent. It may contain any alphanumeric character, spaces, line breaks,
                    and the characters - _ + . /
                type:
                  type: string
                  description: Type of the existing agent. The valid types are file-log, empower, unicorn, labx, chromeleon
                    or user-defined It is not allowed to change the type of the agent, so this parameter must match the type
                    of the agent being updated
                  enum:
                  - file-log
                  - empower
                  - unicorn
                  - labx
                  - chromeleon
                  - user-defined
                  example: file-log
                sourceType:
                  type: string
                  description: Source Type of a user-defined agent. For a user-defined agent, it may contain any lower-case
                    alphanumeric character, spaces, and the characters - _ + . / However, a space can't be the first character.
                    For other agent types it must be empty, null or not present
                  example: ''
                integrationType:
                  type: string
                  description: Type of the updated integration for the agent. The valid types are `api` or `datahub.
                  enum:
                  - api
                  - datahub
                integrationId:
                  type: string
                  description: Id of the connector to be used by the agent, in GUID format
                  example: 6f166302-df8a-4044-ab4b-7ddd3eefb50b
                  format: uuid
                datahubId:
                  type: string
                  description: Id of the Data Hub to be used by the new agent, in GUID format. It is required for integrations
                    of type 'datahub'. It must be set to null, empty or not present for integrations of type 'api'
                  format: uuid
                  example: null
                tags:
                  type: array
                  items:
                    type: string
                  example:
                  - tag1
                  description: Tags to associate with the agent.
                metadata:
                  type: object
                  additionalProperties: true
                  example:
                    metadataKey: metadataValue
                  description: Metadata to associate with the agent.
                labels:
                  type: object
                  properties:
                    labelsToAdd:
                      type: array
                      description: Labels to add the agent
                      items:
                        $ref: '#/paths/~1v1~1agents/post/requestBody/content/application~1json/schema/properties/labels/properties/labelsToAdd'
                    labelsToDrop:
                      oneOf:
                      - type: array
                        items:
                          type: integer
                          description: Id of the label to drop from the agent
                      - type: integer
                        description: Id of the label to drop from the agent
                      description: Labels to drop from the agent
                  description: Labels to add or drop from the agent
      responses:
        '200':
          $ref: '#/paths/~1v1~1agents~1{agentId}/get/responses/200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    format: int32
                    example: 400
                  error:
                    type: string
                    example: Bad Request
                  message:
                    type: string
                    example: Agent type change is not allowed
  /v1/data-acquisition/agent/credentials:
    post:
      summary: Agent Temp AWS Credentials
      description: This endpoint returns temporary credentials for a given organization based on Data Hub policy. When using
        those credentials, client can upload files to their Amazon S3 bucket and write log to Amazon CloudWatch. Returned
        credentials have expiration time 60 minutes.
      tags:
      - Data Acquisition
      operationId: agent-temp-aws-credentials
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - agentId
              - agentVersion
              properties:
                agentId:
                  type: string
                  description: This is the sourceId for a user-defined integration. Need to copy from the TDP web UI, where
                    the user-defined integration is created. For existing TetraScience agent who can connect to the TDP{ directly,
                    provide the agentId to this field.
                agentVersion:
                  type: string
                  description: The Agent version, such as "v1.0.0".
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"AccessKeyId\": \"EXAMPLEAWSACCESSKEYID\",\n    \"SecretAccessKey\": \"EXAMPLEAWSSECRETACCESSKEY/REDACTED\"\
                    ,\n    \"SessionToken\": \"EXAMPLE_AWS_SESSION_TOKEN_REDACTED\"\
                    ,\n    \"Expiration\": \"2020-07-01T19:12:22.000Z\"\n}"
              schema:
                type: object
                properties:
                  AccessKeyId:
                    type: string
                    example: EXAMPLEAWSACCESSKEYID
                  SecretAccessKey:
                    type: string
                    example: EXAMPLEAWSSECRETACCESSKEY/REDACTED
                  SessionToken:
                    type: string
                    example: EXAMPLE_AWS_SESSION_TOKEN_REDACTED
                  Expiration:
                    type: string
                    example: '2020-07-01T19:12:22.000Z'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"statusCode\": 404,\n    \"error\": \"Not Found\",\n    \"message\": \"Source with source\
                    \ ID 47ab98d5-cccb-4a7d-86f4-0ff8f7c11bda does not exist\"\n}"
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                    default: 0
                  error:
                    type: string
                    example: Not Found
                  message:
                    type: string
                    example: Source with source ID 47ab98d5-cccb-4a7d-86f4-0ff8f7c11bda does not exist
      deprecated: false
  /v1/agents/{agentId}/connector:
    put:
      summary: Change agent connector
      description: Use this endpoint to change the connector of an agent
      tags:
      - Agents
      operationId: agent-update-connector
      parameters:
      - in: path
        name: agentId
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                integrationType:
                  type: string
                  description: Type of the integration. The valid types are `api` or `datahub`.
                  enum:
                  - api
                  - datahub
                datahubId:
                  format: uuid
                  type: string
                  description: Id of the Data Hub to be used by the new agent, in GUID format. It is required for integrations
                    of type 'datahub'. It must be set to null, empty or not present for integrations of type 'api'
                integrationId:
                  type: string
                  format: uuid
                  description: The ID of the connector
            example:
              integrationType: datahub
              datahubId: 46568316-feda-4a04-889e-792064ded110
              integrationId: 222b2fcb-03ab-4875-a420-77bb35fd8f63
      responses:
        '200':
          description: Agent connector updated successfully
          content:
            application/json:
              schema:
                type: object
              example: {}
  /v1/dataapps/rules-check:
    post:
      summary: Check how many data apps match the provided access control rules
      tags:
      - Data Apps
      operationId: check-data-app-rules
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  description: Access control filter (recursive — supports label, allow-all, and, or)
                  type: object
                  properties:
                    type:
                      type: string
                    label:
                      type: string
                    value:
                      type: string
                    operator:
                      type: string
                  additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataAppsCount:
                    type: integer
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
  /v1/dataapps/apps/container/cookies:
    delete:
      summary: Clear the selected data app and auth cookies
      tags:
      - Data Apps
      operationId: clear-embed-cookies
      responses:
        '200':
          description: OK
  /v1/data-acquisition/connectors:
    get:
      tags:
      - Connectors
      operationId: ConnectorController_getAll
      summary: Get all Connectors
      description: '**:warning: This is a new API which is still subject to change.**


        Use this endpoint to get a list of Connectors.'
      responses:
        '200':
          description: Successful response with a list of all Connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsResponse'
  /v1/data-acquisition/connectors/{id}:
    get:
      tags:
      - Connectors
      operationId: ConnectorController_getById
      summary: Get a Connector by id
      description: '**:warning: This is a new API which is still subject to change.**


        Use this endpoint to get a Connector''s details by id.'
      parameters:
      - name: id
        description: The Connector's id.
        required: true
        in: path
        schema:
          type: string
      - name: resolveSecrets
        description: If true, resolves secrets in the Connector's config. Requires organization admin permissions.
        required: false
        in: query
        schema:
          type: boolean
      - name: include
        description: Include additional Connector fields. 'config' includes the Connector's config. 'artifact' includes the
          Connector artifact's details.
        required: false
        in: query
        example:
        - config
        schema:
          type: array
          items:
            type: string
            enum:
            - config
            - artifact
      responses:
        '200':
          description: Successful response with a Connector's details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDetailsDto'
  /v1/data-acquisition/connectors/{id}/metrics:
    get:
      tags:
      - Connectors
      operationId: ConnectorController_getFileMetrics
      summary: Get a Connector's metrics
      description: '**:warning: This is a new API which is still subject to change.**


        Use this endpoint to get the metrics reported by a Connector, including resource usage and file upload and error rates.'
      parameters:
      - name: id
        description: The Connector's id.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful response with the metrics reported by a Connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConnectorMetricsDto'
  /v1/data-acquisition/connectors/{id}/files:
    get:
      tags:
      - Connectors
      operationId: ConnectorController_getFiles
      summary: Get a Connector's reported files
      description: '**:warning: This is a new API which is still subject to change.**


        Use this endpoint to get metadata about the files reported by a Connector, including those that have not yet been
        uploaded or that have failed.'
      parameters:
      - name: id
        description: The Connector's id.
        required: true
        in: path
        schema:
          type: string
      - name: fileIds
        description: A list of file ids to filter by.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
      - name: excludeFileIds
        description: A list of file ids to exclude from the response.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
      - name: uniqueExternalIds
        description: A list of unique external ids to filter by. Used by Connectors to deduplicate external files.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
      - name: excludeUniqueExternalIds
        description: A list of unique external ids to exclude from the response. Used by Connectors to deduplicate external
          files.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
      - name: statuses
        description: A list of file statuses to filter by.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - PENDING
            - PROCESSING
            - SKIPPED
            - SUCCESS
            - ERROR
      - name: maxErrors
        description: The maximum number of errors to filter by. Used by Connectors to limit file upload retries.
        required: false
        in: query
        schema:
          type: number
      - name: createdBefore
        description: The maximum creation date to filter by.
        required: false
        in: query
        schema:
          format: date-time
          type: string
      - name: createdAfter
        description: The minimum creation date to filter by.
        required: false
        in: query
        schema:
          format: date-time
          type: string
      - name: updatedBefore
        description: The maximum update date to filter by.
        required: false
        in: query
        schema:
          format: date-time
          type: string
      - name: updatedAfter
        description: The minimum update date to filter by.
        required: false
        in: query
        schema:
          format: date-time
          type: string
      - name: orderBy
        description: The field to order by.
        required: false
        in: query
        schema:
          type: string
          enum:
          - filepath
          - status
          - errorCount
          - updatedAt
          - createdAt
      - name: orderDirection
        description: The order direction.
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: take
        description: The number of files to take. Default is 50.
        required: false
        in: query
        schema:
          type: number
          default: 50
      - name: skip
        description: The number of files to skip.
        required: false
        in: query
        schema:
          type: number
          default: 0
      responses:
        '200':
          description: Successful response with a list of files reported by a Connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorFilesResponse'
  /v1/data-acquisition/connectors/{id}/files/stats:
    get:
      tags:
      - Connectors
      operationId: ConnectorController_getFileStats
      summary: Get statistics about a Connector's files
      description: '**:warning: This is a new API which is still subject to change.**


        Use this endpoint to get the file statistics reported by a Connector, including the total number of files and the
        number of files in each status.'
      parameters:
      - name: id
        description: The Connector's id.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful response with the file stats reported by a Connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConnectorFileStatsDto'
  /v1/dataapps/providers:
    post:
      summary: Create a new Data App Provider
      tags:
      - Data App Providers
      operationId: create-a-data-app-provider
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The type of provider. Must be a selection from provider templates.
                name:
                  type: string
                  description: The unique name of this provider
                orgId:
                  type: string
                  description: Organization ID
                iconUrl:
                  type: string
                  description: The URL to the icon image
                secrets:
                  type: array
                  description: The secrets to associate with this provider
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
                      isExistingSecret:
                        type: boolean
      responses:
        '201':
          description: OK
        '400':
          description: Bad Request
        '503':
          description: Service Unavailable
    get:
      summary: Fetch all data app providers
      tags:
      - Data App Providers
      operationId: fetch-data-app-providers
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to return
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Page number for pagination (starts from 1)
      - name: providerName
        in: query
        required: false
        schema:
          type: string
        description: The name of the provider to filter on
      - name: orgId
        in: query
        required: true
        schema:
          type: string
      - name: includeArn
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Indicate if the secret ARNs should be included in the response
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaginatedDataAppProvider'
        '400':
          description: Bad Request
        '503':
          description: Service Unavailable
  /v1/dataapps/apps/linked:
    post:
      summary: Create Linked Data App
      tags:
      - Linked Data Apps
      operationId: create-linked-data-app
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                url:
                  type: string
                iconUrl:
                  type: string
                  format: byte
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '500':
          description: Internal Server Errors
  /v1/dataapps/apps/manage:
    post:
      summary: Install, update, or uninstall Data Apps
      description: Perform one or more install, update, or uninstall operations on embedded Data Apps. Submit an array of
        operations to manage which Data Apps are enabled in your organization. This endpoint supports automated governance
        workflows from CI/CD pipelines, GitHub Actions, or ServiceNow.
      tags:
      - Embedded Data Apps
      operationId: create-or-delete-embedded-data-app
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                required:
                - action
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Data App ID. Required for UPDATE and DELETE actions.
                  name:
                    type: string
                    description: Data App name. Required for CREATE and UPDATE actions.
                  slug:
                    type: string
                    description: Data App slug identifier. Required for CREATE and UPDATE actions.
                  type:
                    type: string
                    description: The type of data app. Always "CONTAINER".
                    enum:
                    - CONTAINER
                    default: CONTAINER
                  deploymentType:
                    type: string
                    enum:
                    - SERVER
                    description: 'Deployment model: SERVER (ECS container, iFrame).'
                    default: SERVER
                  version:
                    type: string
                    description: Semantic version to install (e.g., "v2.1.0"). Required for CREATE and UPDATE actions.
                  namespace:
                    type: string
                    description: Artifact namespace (e.g., "common"). Required for CREATE and UPDATE actions.
                  action:
                    type: string
                    enum:
                    - CREATE
                    - UPDATE
                    - DELETE
                    description: 'The operation to perform: CREATE (install), UPDATE (modify), or DELETE (uninstall).'
                  labels:
                    type: array
                    description: Labels for EARS access control. Determines which users can see and use this Data App.
                    items:
                      type: object
                      required:
                      - name
                      - value
                      properties:
                        name:
                          type: string
                          description: Label name (e.g., "department", "environment").
                        value:
                          type: string
                          description: Label value (e.g., "research", "production").
                  providerIds:
                    type: array
                    description: Provider IDs to associate with this Data App on install.
                    items:
                      type: string
                      format: uuid
            examples:
              install_app:
                summary: Install a Data App
                value:
                - action: CREATE
                  name: Akta Visualizer
                  slug: akta-visualizer
                  namespace: common
                  version: v1.0.0
                  type: CONTAINER
                  deploymentType: SERVER
              install_app_with_labels:
                summary: Install a Data App with EARS labels
                value:
                - action: CREATE
                  name: Empower Results Viewer
                  slug: empower-results-viewer
                  namespace: common
                  version: v2.1.0
                  type: CONTAINER
                  deploymentType: SERVER
                  labels:
                  - name: department
                    value: chromatography
              uninstall_app:
                summary: Uninstall a Data App
                value:
                - action: DELETE
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
              batch_operations:
                summary: Install one and uninstall another
                value:
                - action: CREATE
                  name: Chromeleon Connector
                  slug: chromeleon-connector
                  namespace: common
                  version: v1.0.0
                  type: CONTAINER
                  deploymentType: SERVER
                - action: DELETE
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: All operations completed successfully.
        '400':
          description: 'Validation error. Common causes: missing required fields (action, version, namespace, slug, or name
            for CREATE/UPDATE), or invalid field values.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Data App management is not enabled for this organization.
        '503':
          description: Data App management service is temporarily unavailable. Retry with backoff.
    get:
      summary: List available Data Apps for installation
      description: Retrieves the catalog of Data Apps available for installation in your organization, including their current
        installation status. Use this as the discovery endpoint for automated governance workflows — browse available apps
        and check requirements before installing.
      tags:
      - Embedded Data Apps
      operationId: fetch-all-available-data-apps
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to return
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Page number for pagination (starts from 1)
      - name: search
        in: query
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 100
        description: Search term to filter data apps by name or slug
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataApps:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataAppManaged'
                  count:
                    type: integer
                    description: Total number of data apps matching the search criteria
                required:
                - dataApps
                - count
              examples:
                example_response:
                  summary: Response with data apps and count
                  value:
                    dataApps:
                    - name: Threads
                      description: A Streamlit-powered dashboard to manage threads. A thread is a way capture work-to-be-done
                        by one or more individuals.
                      slug: threads
                      version: v0.8.0
                      namespace: common
                      iconUrl: https://example.com/icon.png
                      otherVersions: []
                      type: CONTAINER
                      artifactType: CONTAINER
                      deploymentType: SERVER
                      platformRequirements: []
                      serviceRequirements:
                      - type: ais
                        minVersion: v1.0.0
                    - name: Chromatography Insights
                      description: A Streamlit-powered dashboard to visualize chromatography insights
                      slug: chromatography-insights
                      version: v1.7.0
                      namespace: common
                      iconUrl: https://example.com/icon.png
                      type: CONTAINER
                      artifactType: CONTAINER
                      deploymentType: SERVER
                      platformRequirements:
                      - type: ids
                        namespace: common
                        slug: lcuv-empower
                        version: '>=15.0.0 <16.1.0'
                      - type: ids
                        namespace: common
                        slug: lcuv-chromeleon
                        version: v6.0.0
                      - type: tetraflow
                        namespace: common
                        slug: chromatography-insights
                        version: v1.6.1
                      serviceRequirements: []
                    count: 25
        '400':
          description: Bad Request - Invalid query parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the validation failure
              examples:
                invalid_search:
                  summary: Invalid search parameter
                  value:
                    error: '"search" is not allowed to be empty'
                invalid_limit:
                  summary: Invalid limit parameter
                  value:
                    error: '"limit" must be greater than or equal to 1'
        '503':
          description: Service Unavailable - Managed Data Apps settings are currently unavailable
  /v1/externalevents/requests/creation:
    post:
      operationId: createSubscription
      tags:
      - Edit Subscriptions
      - Requests
      summary: Request to create a new subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventbridgeExternalSubscriptionCreate'
      responses:
        '200':
          description: Request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventbridgeWriteRequest'
        '400':
          $ref: '#/components/responses/400Any'
        '404':
          $ref: '#/components/responses/404Any'
        '500':
          $ref: '#/components/responses/500Any'
        '501':
          $ref: '#/components/responses/501Any'
  /v1/dataapps/providers/{id}:
    delete:
      summary: Delete a Data App Provider
      tags:
      - Data App Providers
      operationId: delete-a-data-app-provider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '503':
          description: Service Unavailable
    get:
      summary: Fetch a Data App Provider
      tags:
      - Data App Providers
      operationId: fetch-a-data-app-provider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: orgId
        in: query
        required: true
        schema:
          type: string
      - name: includeArn
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAppProvider'
        '404':
          description: Not Found
        '503':
          description: Service Unavailable
    put:
      summary: Update a Data App Provider
      tags:
      - Data App Providers
      operationId: update-a-data-app-provider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The type of provider. Must be a selection from provider templates.
                name:
                  type: string
                  description: The unique name of this provider
                orgId:
                  type: string
                  description: Organization ID
                iconUrl:
                  type: string
                  description: The URL to the icon image
                secrets:
                  type: array
                  description: The secrets to associate with this provider
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
                      isExistingSecret:
                        type: boolean
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '503':
          description: Service Unavailable
  /v1/dataapps/kv/{appSlug}/{key}:
    delete:
      summary: Delete connector key value by key for a data app
      tags:
      - Data Apps
      operationId: delete-data-app-connector-key-value-by-key
      parameters:
      - name: appSlug
        in: path
        required: true
        schema:
          type: string
      - name: artifact_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - CONTAINER
          - TETRASPHERE
        description: Required artifact type filter used during authorization and app lookup.
      - name: namespace
        in: query
        required: true
        schema:
          type: string
        description: Required artifact namespace filter used during authorization and app lookup.
      - name: key
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^,]+$
        description: Connector key. Commas are not allowed.
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '503':
          description: Service Unavailable
    get:
      summary: Fetch connector key value by key for a data app
      tags:
      - Data Apps
      operationId: fetch-data-app-connector-key-value-by-key
      parameters:
      - name: appSlug
        in: path
        required: true
        schema:
          type: string
      - name: artifact_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - CONTAINER
          - TETRASPHERE
        description: Required artifact type filter used during authorization and app lookup.
      - name: namespace
        in: query
        required: true
        schema:
          type: string
        description: Required artifact namespace filter used during authorization and app lookup.
      - name: key
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^,]+$
        description: Connector key. Commas are not allowed.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorKeyValue'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '503':
          description: Service Unavailable
  /v1/dataapps/apps/linked/{id}:
    delete:
      summary: Delete Linked Data App
      tags:
      - Linked Data Apps
      operationId: delete-linked-data-app
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
[...]
